<div id="select-index" class="indexes-drop-down-search" ng-if="showSelector" uib-dropdown is-open="isOpen">

  <a uib-dropdown-toggle data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span ng-if="selectedIndex" class="indexes-selector-label">
      <i class="fa fa-database"></i> <span ng-bind="selectedIndex"></span>
    </span>

    <span ng-if="!selectedIndex" class="indexes-selector-label must-select">
      <i class="fa fa-database"></i> select a working index
    </span>
  </a>


  <ul class="dropdown-menu">
    <li class="search">
      <form ng-submit="onPressEnter()">
        <input class="form-control" type="text" placeholder="{{placeholder}}" ng-model="name" ng-bind="name"/>
      </form>
    </li>
    <li class="divider"></li>
    <li>
      <a class="external-link" ng-click="onClickCreate({name: name}); name = ''" ng-bind="createLabel"></a>
    </li>
    <li class="divider"></li>
    <li ng-class="{active: item === selectedIndex}" ng-repeat="item in items | orderBy | filter:search" ng-click="onClickItemProxy({item: item})">
      <a>
        <span ng-bind="item"></span>
      </a>
    </li>
  </ul>
</div>

