/* SASS has a weird way of importing regular CSS files.
  http://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file */
@import "lib/sb-admin";
@import "mixins";

body {
    background-color: #F3F3F3;
}

div.view-fade {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;

    &.ng-enter {
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}

.navbar-brand {
  height: auto;
  padding: 10px, 15px, 0, 15px;
}

.actions-group {
    button.control {
        margin-right: 10px;
    }
    a.control {
        cursor: pointer;
    }
}

#page-wrapper {
    padding: 0;
    background-color: #F3F3F3;
    @extend .h100;

    #loading-bar-wrapper {
        .bar {
            position: inherit;
            height: 3px;
        }
    }
}

.dropdown-menu {
    li {
        a.text-danger {
            color: #a94442;
            font-weight: bold;
        }
    }
}

.row .col-no-padding {
  padding: 0;
}

.row .col-no-padding-left {
  padding-left: 0;
}

.fixed-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 50px;
}

.document-id {
  &.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 4px;
    margin-right: -4px;
  }

  background-color: #EFEFEF;
  border: 1px solid rgba(43, 43, 43, 0.04);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
  cursor: pointer;
  font-size: 0.9em;
  color: #004B52;
}

/* FORM */
input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
    border-color: #FA787E;
}

h2.select-index,
h2.select-collection {
  color: #828282;
}

.select-index,
.select-collection {
  text-align: center;
}

.collections-drop-down-search, #select-index {
  button {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .dropdown-menu {
    min-width: 200px;
    li {
      form {
        margin-bottom: 0;
      }
      cursor: pointer;
      a {
        i {
          padding-right: 5px;
          color: #848484;
        }

        padding: 8px;

        &.external-link {
          padding: 5px 0 5px 10px;
          text-decoration: underline;
          color: #215C9C;
        }
        &.external-link:hover {
          padding: 5px 0 5px 10px;
          text-decoration: underline;
          color: #215C9C;
          background-color: #f5f5f5;
        }
        &:hover {
          color: #262626;
          text-decoration: none;
          background-color: #f5f5f5;
        }
      }
      &.active a {
        background-color: #528186;
        &:hover {
          color: #fff;
          background-color: #6C9A9E;
        }
      }
    }
    .search {
      padding: 5px;
    }
  }
}
