/* SASS has a weird way of importing regular CSS files.
  http://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file */
@import "lib/sb-admin";

body {
    background-color: #F3F3F3;
}

div.view-fade {
    top: 0;
    left: 0;
    right: 0;
    opacity: 1;

    &.ng-enter {
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
    }
    &.ng-enter {
        opacity: 0;
    }
    &.ng-enter-active {
        opacity: 1;
    }
    &.ng-leave {
        opacity: 1;
    }
    &.ng-leave-active {
        opacity: 0;
    }
}

.navbar-brand {
  height: auto;
  padding: 10px, 15px, 0, 15px;
}

.actions-group {
    button.control {
        margin-right: 10px;
    }
    a.control {
        cursor: pointer;
    }
}

#page-wrapper {
    padding: 0;
    background-color: #F3F3F3;

    #loading-bar-wrapper {
        .bar {
            position: inherit;
            height: 3px;
        }
    }
    .headline {
        margin-bottom: 10px;
    }
}

.dropdown-menu {
    li {
        a.text-danger {
            color: #a94442;
            font-weight: bold;
        }
    }
}

.row .col-no-padding {
  padding: 0;
}

.row .col-no-padding-left {
  padding-left: 0;
}

.fixed-right {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  margin-top: 50px;
}
