.dashboard-container {
  .headline-actions {
    float: right;
    display: inline;

    .glyphicon {
      cursor: pointer;
      font-size: 0.8em;
      margin-right: 5px;
    }
  }
  .dashboard-widget {
    .panel {
      margin-bottom: 10px;
      background-color: #fff;
      box-shadow: 0 0 0 #000;
      border-color: #eee;
      border-bottom: 2px solid #e4eaec;
      border-radius: 3px;

      .panel-heading {

        .panel-title {
          font-size: 1.2em;
          font-weight: bold;

          .glyphicon {
            cursor: pointer;
            font-size: 0.8em;
            margin-right: 5px;
          }
        }
      }
    }
  }
}