documents-inline {
  .documents .panel {
    margin-bottom: 5px;

    &.deleted {
      background-color: #EBCCCC;
      border-color: rgba(255, 0, 0, 0.29);
    }

    .panel-body {
      padding-bottom: 10px;
      padding-top: 10px;

      .icons {
        text-align: right;
      }

      .ace_editor {
        height: 250px;
      }

      .edit-document, .edit-document:hover {
        color: rgba(110,110,110,1);
        cursor: pointer;
        margin-right: 4px;
        text-decoration: none;
      }

      .json-formatter-row {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .json-formatter-row:first-child > a:first-child > .thumbnail-text {
        opacity: .5;
      }

      ul {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}
