.metrics-container {
  *, *:before, *:after {box-sizing:  border-box !important;}

  .metrics-row {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
  }

  .metrics-widget {
    .panel {
      background-color: #fff;
      box-shadow: 0 0 0 #000;
      border-color: #eee;
      border-bottom: 2px solid #e4eaec;
      border-radius: 3px;
      display: inline-block;
      margin: .5em;
      padding:  0;
      width:98%;

      .panel-heading {
        background-color: #00757f;
        border: none;
        padding: 10px 15px;

        .panel-title {
          font-size: 1.2em;
          font-weight: bold;

          .glyphicon {
            cursor: pointer;
            font-size: 0.8em;
            margin-right: 5px;
          }
        }
      }
    }
    .gauge {
      width: 225px;
      height: 250px;
      margin: 0 auto;
    }
    .chart {
      height: 400px;
      min-width: 310px;
    }
  }
}