.menubar {
  background-color: #FFFFFF;
  border-color: #E6E6E6;

  .navbar-brand {
    padding: 10px 15px;
  }
  .navbar-toggle {
    background-color: #333;
  }
  img {
    height: 30px;
  }
}
#sidebar {
  .side-nav {
    background-color: #263238;

    li {
      &.active {
        background-color: #45b29d;

        a {
          background-color: #45b29d;
          color: #fff;
        }
      }
      a {
        &:hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
          color: #fff;
        }
        i {
          padding-right: 5px;
        }
      }
    }
  }
}