/* color defs */
$green: #00747E;
$dark-green: #004B52;

$sidebar-bg-color: #263238;
$sidebar-text-color: #fff;

$menubar-bg-color: #fff;
$menubar-border-color: #e6e6e6;


.menubar {
  background-color: $menubar-bg-color;
  border-color: $menubar-border-color;

  .navbar-header {
    width: 100%;
    padding: 0 10px;
  }

  .navbar-brand {
    padding: 10px 0;
    img {
      height: 30px;
    }
  }

  .navbar-toggle {
    background-color: darken($menubar-bg-color, 66%);
  }

  user-menu {
    padding-top: 16px;
    float: right;
  }

}
#sidebar {
  .fa.clear {
    color: transparent!important;
  }
  .side-nav {

    background-color: $sidebar-bg-color;

    a[aria-expanded="true"] > i.fa-caret-down::before,
    a.in > i.fa-caret-down::before {
      content: "\f0d8"!important;
    }

    a[aria-expanded="true"] > i.fa-caret-up::before,
    a.in > i.fa-caret-up::before {
      content: "\f0d7"!important;
    }

    & > li > a {
      text-align:center;
      font-size: 1.2em;
      font-variant: small-caps;
      background: $dark-green;
      color: $sidebar-text-color;
      margin-bottom: 1px;
      &:hover {
        background-color: lighten($dark-green, 10%)!important;
      }
      &:focus {
        background-color: $dark-green!important;
      }
    }

    & > li > ul > li > a {
      padding-left: 15px!important;
    }
    & #select-index {
      padding-left: 15px;
      width: 100%;
      & > button {
        width: 192px;
        & > span {
          display: inline-block;
          width: 100%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      & > .dropdown-menu {
        left: 15px;
        min-width: 192px;
        & .search {
          padding-left: 5px;
          & input {
            width: 97%;
          }
        }
      }
    }

    li {

      &.active {
        background-color: $green;
        color: $sidebar-text-color!important;
        a {
          background-color: $green;
          color: $sidebar-text-color!important;
        }
      }
      &.bottom {
        position: absolute;
        bottom: 0;
      }

      a {
        &:hover, &:focus {
          background-color: darker($green, 50%) !important;
          color: $sidebar-text-color;
        }
        i {
          padding-right: 5px;
        }
      }
    }
    &.side-nav > li > ul > li > ul {
      padding:0;
    }
    &.side-nav > li > ul > li > ul > li > a {
        display: block;
        padding: 10px 15px 10px 38px;
        text-decoration: none;
        color: darken($sidebar-text-color, 30%);
    }
  }
}