.menubar {
  background-color: #FFFFFF;
  border-color: #E6E6E6;

  .navbar-header {
    width: 100%;
    padding: 0 10px;
  }

  .navbar-brand {
    padding: 10px 0;
    img {
      height: 30px;
    }
  }

  .navbar-toggle {
    background-color: #333;
  }

  user-menu {
    padding-top: 16px;
    float: right;
  }

}
#sidebar {
  .side-nav {
    background-color: #263238;

    li {
      &.active {
        background-color: #45b29d;

        a {
          background-color: #45b29d;
          color: #fff;
        }
      }
      &.bottom {
        position: absolute;
        bottom: 0;

        &.menu-help > a, &.menu-help > a::hover {
          background-color: #45b29d!important;
          color: #fff;
        }
      }
      a {
        &:hover {
          background-color: rgba(0, 0, 0, 0.1) !important;
          color: #fff;
        }
        i {
          padding-right: 5px;
        }
      }
    }
    &.side-nav > li > ul > li > ul {
      padding:0;
    }
    &.side-nav > li > ul > li > ul > li > a {
        display: block;
        padding: 10px 15px 10px 61px;
        text-decoration: none;
        color: #999;
    }
  }
}