@import "mixins";

$bs-container-padding: 15px;

.watch-data-container {
  @extend .h100;
  position: absolute;
  top: 0;
  bottom: 0;
  padding-top: 70px;
  width: 100%;
}

.filters-log-container {
  @extend .h100;
}

.filters-container {
  @extend .h100;
  overflow-y: auto;
  padding-right: $bs-container-padding;
}

.publish {
  .form-group {
    .ace_editor {
      height: 200px;
      margin-bottom: 10px;
    }
  }
}

.filters-log-container {
  display: flex;
  flex-direction: row;
}

.filters-container {
  flex-grow: 1;
}

$message-log-width: 600px;

.log-spacer {
  width: $message-log-width;
  margin-right: -$bs-container-padding;
}

.message-log {
  width: $message-log-width;
  background-color: #263238;
  color: #ddd;

  .message-list {
    padding: 0 20px;
    margin-top: 50px;

    .message-item {
      list-style-type: none;
      margin: 10px 0;
    }
  }
}

$notif-volatile-clr: #60AB61;
$notif-created-updated-clr: #5E99CC;
$notif-deleted-clr: #C75856;
$notif-pending-clr: #DCAC59;
$notif-user-clr: #917FC3;

.message-volatile {
  color: $notif-volatile-clr;
}

.message-created-updated-doc {
  color: $notif-created-updated-clr;
}

.message-deleted-doc {
  color: $notif-deleted-clr;
}

.message-pending {
  color: $notif-pending-clr;
}

.message-user {
  color: $notif-user-clr;
}
