.collections {
  text-align: center;

  li.active a {
    background-color: #528186;

    &:focus {
      background-color: #528186;
    }
    &:hover {
      color: #fff;
      background-color: #6C9A9E;
    }
  }
}

.browse-documents {

  .create {
    margin-bottom: 10px;

    button {
      padding: 8px 30px 8px 30px;
    }
  }

  .filters {
    form {
      margin-top: 10px;

      .actions-term {
        margin-top: 8px;
        padding-left: 0;

        .add-term, .remove-term {
          cursor: pointer;
          margin-right: 10px;
        }
      }
      .ace_editor {
        height: 200px;
        margin-bottom: 10px;
      }
      button {
        margin-right: 10px;
      }
    }
  }

  .documents .panel {
    margin-bottom: 5px;

    &.deleted {
      background-color: #EBCCCC;
      border-color: rgba(255, 0, 0, 0.29);
    }

    .panel-body {
      padding-bottom: 10px;
      padding-top: 10px;

      .ace_editor {
        height: 250px;
      }

      .edit-document {
        cursor: pointer;
        margin-right: 4px;
      }

      .json-formatter-row:first-child > a:first-child > .thumbnail-text {
        opacity: .5;
      }

      ul {
        span {
          margin-right: 10px;
        }
      }
    }
  }
}

.edit-document {
  .form {
    button.control {
      margin-right: 10px;
    }
  }
}