<span class="cog-options-collection">
    <span class="dropdown">
        <small class="glyphicon glyphicon-cog dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="More options..."></small>
        <ul class="dropdown-menu dropdown-menu-right">
            <li ng-if="canEdit"><a href="" ui-sref="collection.full({index: currentIndex, collection: collection})" class="edit" title="Go to full view">Edit</a></li>
            <li ng-if="canEmpty"><a href="" ng-click="openModalEmptyCollection()" class="text-danger empty" title="Truncate the collection...">Empty</a></li>
            <li ng-if="canDelete"><a href="" ng-click="openModalDeleteCollection()" class="text-danger delete" title="Delete collection and schema...">Delete</a></li>
        </ul>
    </span>
</span>
