<div class="edit-role" ng-controller="RoleFullCtrl" ng-init="init()">
  <headline title="Role" subtitle=""></headline>
  <div class="container container-medium">
    <div class="row whitespace-top">
      <div class="col-sm-12 role-not-found" ng-if="notFoundError">
        <p>There is no role matching the name <strong ng-bind="role.id">null</strong>.</p>
      </div>

      <div class="col-sm-12" ng-if="!notFoundError">
        <form>
            <div class="form-group">
                <label for="role-id">Role name</label>
                <input type="text" class="form-control" ng-model="role.id" id="role-id" ng-disabled="isEdit">
            </div>
            <div class="form-group">
                <label for="name">Role content</label>
                <json-edit content="role.content" can-edit="canCreateOrReplaceRole || canUpdateRole"></json-edit>
            </div>

            <div class="actions-group">
                <button id="create" type="submit" class="btn btn-success control" ng-if="!isEdit && canCreateOrReplaceRole" ng-click="create()">Create</button>
                <button id="update" type="submit" class="btn btn-success control" ng-if="isEdit && canUpdateRole" ng-click="update()">Update</button>
                <button id="replace" type="submit" class="btn btn-warning control" ng-if="isEdit && canCreateOrReplaceRole" ng-click="replace()">Replace</button>
                <a class="control" ng-click="cancel()">Cancel</a>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
