<div class="profile-browse" ng-controller="ProfileBrowseCtrl" ng-init="init()">
    <headline title="Profiles" subtitle="Browse profiles"></headline>
    <div class="container container-medium">
        <div class="row whitespace-top">
            <div class="col-sm-12">
                <div class="create">
                    <button type="button" class="btn btn-success"  ui-sref="profile.create">
                      <i class="fa fa-plus"></i> Add profile
                    </button>
                </div>

              <div class="container">
                <div class="row whitespace-top">
                  <div class="col-sm-12">
                    <documents-inline documents="profiles" profile="true" can-edit="canUpdateProfile"></documents-inline>
                  </div>

                  <div class="col-sm-12 text-right"
                       ng-show="profiles.length < total">
                    <div class="row">
                      <uib-pagination
                          total-items="total"
                          ng-model="currentPage"
                          max-size="4"
                          class="pagination-sm"
                          boundary-links="true"
                          rotate="false"
                          ng-change="loadProfiles()"
                          num-pages="numPages"
                          previous-text="Prev"
                          next-text="Next"
                          items-per-page="limit">
                      </uib-pagination>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-9" ng-if="profiles.length === 0">
                <p>There is no profile in this database.</p>
            </div>
        </div>
    </div>
</div>