<html>
    {{>head}}

    <body ng-app="kuzzle">
        <div id="wrapper">
            {{>menubar}}

            <div id="page-wrapper" ng-controller="LoginModalCtrl">
                <div id="loading-bar-wrapper">
                    <div></div>
                </div>
                <div class="container-fluid">
                    <div class="view-fade h100" ui-view="bodyView"></div>
                </div>
            </div>
        </div>

    {{> notifications }}
    {{> scripts }}
    </body>
</html>
