<html>
    {{>head}}

    <body ng-app="kuzzle">
        <div id="wrapper">
            {{>menuBar}}

            <div id="page-wrapper">
                <div id="loading-bar-wrapper">
                    <div></div>
                </div>
                <div class="container-fluid">
                    <div ui-view="bodyView"></div>
                </div>
            </div>
        </div>

    </body>

    {{> scripts }}
</html>