<html>
    {{>head}}

    <body ng-app="kuzzle">
        <div id="wrapper" ui-view="wrappedView" ng-controller="MainAppController" ng-init="init()"></div>

    {{> notifications }}
    {{> scripts }}
    </body>
</html>
