<html>
    {{>head}}

    <body>
        <div id="wrapper">
            {{>menuBar}}

            <div id="page-wrapper">
                <div class="container-fluid">
                    {{{ body }}}
                </div>
            </div>
        </div>

    </body>

    {{>scripts}}
</html>