<div  class="view-fade h100 posrel">
    <headline title="Dashboard" subtitle="server state"></headline>

    <div class="dashboard-container" ng-controller="DashboardCtrl" ng-init="init()">

    </div>
</div>
