.edit-collection {
  .ace_editor {
    height: 400px;
  }
}

.documents {
  .panel {
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 0 0 #000;
    border-color: #eee;
    border-bottom: 2px solid #e4eaec;
    border-radius: 3px;

    .fa,
    .glyphicon {
      color: #888;
      cursor: pointer;
      font-size: 1em;
      margin-right: 5px;
      &:hover {
        color: #00757F;
      }
    }

    .panel-heading {
      color: #444;
      background-color: #fff;
      border: none;
      padding: 10px 15px;

      .panel-title {
        font-size: 1.2em;
        font-weight: bold;
        color: #656565;

        .index-name,
        .collection-name {
          cursor: pointer;
        }
      }
    }

    .panel-body {
      padding: 9px 14px;
    }
  }
}