.metrics-container {
  *, *:before, *:after {box-sizing:  border-box !important;}

  .metrics-row {
    -moz-column-width: 24em;
    -webkit-column-width: 24em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
  }

  .metrics-widget {
    .panel {
      background-color: #fff;
      box-shadow: 0 0 0 #000;
      border-color: #eee;
      border-bottom: 2px solid #e4eaec;
      border-radius: 3px;
      display: inline-block;
      margin: .5em;
      padding:  0;
      width:98%;

      .panel-heading {
        background-color: #00757f;
        border: none;
        padding: 10px 15px;

        &[aria-expanded="false"] {
          i.fa-caret-down {
            &:before {
              transform: scale(0);
              content: "\f068" !important;
            }
            &:after {
              transform: scale(1);
              content: "\f067" !important;
              right: -2px;
            }
          }
        }
        i.fa-caret-down {
          opacity: 0.3;

          &:before,
          &:after {
            transition: all 0.4s;
            position: absolute;
          }
          &:before {
            transform: scale(1);
            content: "\f068" !important;
          }
          &:after {
            transform: scale(0);
            content: "\f067" !important;
            right: -2px;
          }
        }

        .panel-title {
          font-family: roboto_condensedregular;
          font-size: 1.2em;
          position: relative;

          .glyphicon {
            cursor: pointer;
            font-size: 0.8em;
            margin-right: 5px;
          }
        }
      }
    }
    .gauge {
      width: 225px;
      height: 250px;
      margin: 0 auto;
    }
    .chart {
      height: 400px;
      min-width: 310px;
    }
  }
}