

.collections {
  .action-collection {
    cursor: pointer;
  }
}

// Button create on top of view (collection, document, ...)
.row.create {
  margin-bottom: 10px;

  button {
    padding: 8px 30px 8px 30px;
  }
}

.storage-browse {
  h2 {
    text-align: center;
    margin-top: 10px;
    color: #828282;
    .dropdown {
      cursor: pointer;
    }
  }

  .browse-documents {
    .total-documents {
      margin-top: 10px;
      color: #777;
      p {
        text-align: right;
        margin-bottom: 0;
      }
    }

    ul.pagination {
      margin-top: 0;
    }
  }
}

.edit-document {
  .view-toggle {
    margin-bottom: 30px;
  }
  .form {
    padding-bottom: 20px;
    form {
      margin-bottom: 30px;

      label {
        color: #333;
        font-weight: normal;
      }

      .has-success .form-control {
        border: 1px solid #ccc;
      }

      fieldset {
        border-radius: 4px;
        div, fieldset {
          padding: 0 20px 0 20px;
        }
      }
      .form-control-feedback {
        display: none;
      }
      .map {
        margin-top: 10px;
        .leaflet-control-container {
          height: 400px;
          .leaflet-bar {
            box-shadow: none;
          }
        }
      }
    }
  }
  .ace_editor {
    height: 600px;
    margin-bottom: 20px;
  }
  .go-document {
    cursor: pointer;
  }
}

.cog-options-indexes,
.cog-options-collection {
  cursor: pointer;
}
