{
  "env": {
    "node": false
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "globals": {},
  "rules": {
    "semi": [2, "always"],
    "camelcase": 2,
    "curly": 2,
    "eqeqeq": 2,
    "no-extend-native": 2,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "new-cap": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-eq-null": 2,
    "block-scoped-var": 2
  }
}
