# Node
node_modules
npm-debug.log*
.node_history
# Exclude coverage report
!/coverage/
/coverage/*
!/coverage/scripts

# Bower
src/bower_components

# Sass
src/styles

# IDE
.idea

# Docker
docker-compose-custom.yml

# vagrant
/.vagrant

# Other
.DS_STORE
*#
*~
.*.swp
.tags
.sass-cache

# Build assets
dist
