.DS_Store
node_modules/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
.idea
dump/
docker-compose-custom.yml
bower_components
phantomjsdriver.log
*.sublime-*
dist
.vscode
test/e2e/test-error.png
test/e2e/visual-regression/current
test/e2e/visual-regression/diff
test/e2e/failed-tests
test/e2e/videos
