sudo: required
dist: trusty

language: node_js
node_js:
  - '10'

cache:
  directories:
    - ~/.npm
    - ~/.cache
    - node_modules # NPM packages
env:
  global:
    - secure: gfJ1/G69s0pOJhqoOB3bMAClvPPj3i++ckCCP/Yz2OMBFoAF3YCb2k2p5fRNX46s/hqkddHZnuSzaPRXHW5tToS7OhpN1HB6EDIfBS80zD1ZH5n5B8s/jKwzQLWv85bZATKc+R8Ir2ukBd/BQFurzd8JtQDpGS2hSCppOUQQApE3F+ghpET8dFPP7qncn1p98UBbbYyxiR53EM2xo93kByooe7nJiwjLvGVCp7zF9ZGKdp+yUzIb5tvOLnxvXrD2IvGl2Cuyf6bdqXUeM5yEhv0JwuD7SsIydCJZhTY8zCkMl3ITThY8HKV19sU6/zlG6aUsD5QAT58DiKk69icRc03kYCeLjUtuVHq/Nzq1grixc/uIi/KJlKxXd6h1NovAhLAkuuqjpLTKePOVeQdwCBZWQdXWPXUBK80px/ZYauydUqmaxHZq5JAM8hg0DbYICCqVcvro7WcUjCEW+VczO36wNU/qjbSsPehysIlWjt7qvcBfGPoGhlIm098jbXNQh0tM3PYInXiIPl/v1ctGUVWBlUkyppxgV3MYHFM04Pwv9lqovWmWuk+c4a22UE08/sTsHHrmS9T4zPfD6d/5Y1v8l8jMc9HGVa2ro642sRGgWS0QkazuQZ4ySYYpt98uv1NMq33L3ffbvsZo2mVCZ1ZWocCG7SbdWhJeOCysMMU=
    - secure: MJlvmEbSYf5q7tQ/DtPTMGLpN5SgudJ03bpI9zqIjq5p55YosaRz4egXArTJeZsfNsA6Z9Wx2yV9/zqp1Iaq0O7AqoWuB08X5DJ0I3WsEHTgly2a94W+nC8QnESbMVuo7kkNlykq2Xo9w2oBmuSgMsPL+6Qlcbb9+h09hUgENISldnv9Hw7dSstfUIAXSGVp4D/RjwaEfoOEfORdSAxO5sr9PuxV8P8RSwKuu/M82dG582w/pY9MOq6goIaIWTbNQDTT2FS7hzCAZuvhLxPqMAkcNYt8v/BA0AVpnPcDCduC5T9LM1EkV61pizV2C6PSEf5x28HP4eK7flU8A82KBGwXUZjc93v0cuYAsYh3CDQcHm8spljgVakVmhs+rogOu6roHexEQR4Y6pkVH9s80Q7ZmANqKIShWheYIBScBS1dl4Nq8O9z7GRUtEwNjarDi7GzPJDumAsl53/qeDw+B5UN746QFqdIJDpvZw1lf92dAlKjbMtvwpxBoFjqBCACFDhIZFLZz+c+uC4SItgirLXSRjJMglzromo0MRQ0Ga4JNPcJVXamzwMT7U8d9b44CsesBhLx498xP8S3pr+LAHIeEuGnoaxFS6ACjDO92ffKPjYvQW2pubWILEYyIuUk/MfUIBIVNAzUWnLzRETKw8bD3B/mmikDlvwAvN2XdL8=
    - secure: epbUm0zRQdQmnZMazfI4B8wclxxN61Dfp45z9mhlNlZYfprTdMP/+cKvLrTzi4FbfRRkH9WwK3Ic1Wm5CQAvAHOVyVg9EYaMKVOhymd8bVsFWStChXmvBKw2ghV4/MsbhUAnP2mNA7YWDMnCsANV/g4JBNgSZaeWSw8hen2w5zugHRnUz9vzwLzSOa7vLsId8ctmjwwFAObvuc6U9Vy755FrmX86uDmZGE8oRQtiwbkmQpj15+AqhYLN/LUnyapxqFyT3bgKoc+TAzR1nrEDtZ3Yg4kkgvmlks7jXEvXhwSAvASQvGhvYNpBpDVsL9LP3oTvvzZIvAYpVXwUY9gjlbGw+oa2ysurDxZoguAK2Ni5ZhXF0KoGha1GfY4YeNguBkbainVuFbTXkiis/veGRPfYGYh1uStbn2WRDSeY7eeGfoVqLfWHuMUZIFZMXaTq41UEYLJwKFuNeNtxs6eJyfVybWaO52ZtZYb5heetk62joZZtZ1ph9hnsBdnAY9duKB2NE7QXXLpA2VPqqndKcm47/z3mHOadg4PlR/pOJno/TxPaxTRYVotPzt9k2DcGiAcu/kUpwsl4uXJ4xmYCnm18lsfJ2Sq/6mj0+bguZLVTyt3j3uL3IVV+9sPFYwNod4fPEeH5xGvk0Vqk/k+IX4db5Tz/UK+7EV+Ii19XUEY=
    - secure: g5Dncet25NrgWQdCMdHJ1sIcmyrm+KHnRDP+k8L1BnrahdRo+HVe7d4SxTxFOLD+jAPEs/nl6j3jpE+OCaQex60T1WMHgTMVJWLVvfQ9F1f76EesRw0bKJga+aSBqoSMX14D/xz+PnP13Mv1EOFwdRZKte8AK4gXzo1+gTY/YNhaVNn6sjv2IQVIvgrnefhyv2oFkCUAawhDemt6kE14Z9aNotpNDMwoGLXYm7yWTZqdgwIS1dzStSKgcJPTRW2uYy4FblO9YJgPDB4CKFFJtMxSSd3lBElm7TX7jJuzsErg3KVVd/ZR0/X/p2cIEqoyarxIKv2C6CsO3FhL1kxdiIKo2mqmFNX0kPYgf++k6O/IDeyWmlhTcu0haKMnIalHW3bbRn7BFkjdiQKO2D4E24WMsfIZncibN10KYHxoqMBmgyMYOXXYfA/KD/pivVPOlO92whQcwZiz4WXuT7gICWcCgH/BMdBnZHlRjWR4oiZ/6bsHngVJkT3+OQPWaowZKpyOJ2xM+lfLbVj+jr1tnCOf/7RfCOWljwZn02ibgs5jPGw8RI4pTzoLNZ9l/gRDrirxClfaaHC2nwavgwxFe2TGD5J4q88YO7R997u89fMVE0feJqJwl035Ci2KRrncT6A+YGAv46XueZWjos0OyIDIrOGCsg4LeG+N24y+uwM=
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_DL=E12YL8EZVABYR0
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_PROD=E2GPBJ9T0QR37G
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_DEV=E35G0B414M3IWU
    - AWS_S3_BUCKET_DL=dl.kuzzle.io
    - AWS_S3_BUCKET_PROD=console.kuzzle.io
    - AWS_S3_BUCKET_DEV=next.console.kuzzle.io
    - AWS_S3_REGION=us-west-2

stages:
  - lint
  - tests
  - build & deploy

jobs:
  include:
    # ---------------------------------------
    # Linter
    # ---------------------------------------
    - stage: lint
      name: 'Linter'
      script:
        - npm install
        - npm run lint

    # ---------------------------------------
    # End-to-end Testing
    # ---------------------------------------
    - stage: tests
      name: 'End to end Tests'

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - CYPRESS_RETRIES=5 npm run test:e2e

    # ---------------------------------------
    # Regular Build & Deploy
    # ---------------------------------------
    # console.kuzzle.io/kuzzle-v1
    # ---------------------------------------
    - stage: build & deploy
      name: 'Build & Deploy to console.kuzzle.io'

      if: type != pull_request && branch = 2-stable

      env:
        - DEPLOY_PATH=kuzzle-v1
      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build

      before_deploy:
        - ~/.local/bin/aws s3 rm s3://$AWS_S3_BUCKET_PROD/$DEPLOY_PATH --recursive --region $AWS_S3_REGION

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_PROD
        skip_cleanup: true
        upload-dir: $DEPLOY_PATH
        local-dir: dist
        region: $AWS_S3_REGION
        on:
          all_branches: true

      after_deploy:
        - ~/.local/bin/aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_PROD --paths "/$DEPLOY_PATH/*"

    # ---------------------------------------
    # console.kuzzle.io/kuzzle-v2
    # ---------------------------------------
    - stage: build & deploy
      name: 'Build & Deploy to console.kuzzle.io'

      if: type != pull_request && branch = master

      env:
        - DEPLOY_PATH=kuzzle-v2
      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build

      before_deploy:
        - ~/.local/bin/aws s3 rm s3://$AWS_S3_BUCKET_PROD/$DEPLOY_PATH --recursive --region $AWS_S3_REGION

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_PROD
        skip_cleanup: true
        upload-dir: $DEPLOY_PATH
        local-dir: dist
        region: $AWS_S3_REGION
        on:
          all_branches: true

      after_deploy:
        - ~/.local/bin/aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_PROD --paths "/$DEPLOY_PATH/*"

    # ---------------------------------------
    # next.console.kuzzle.io/kuzzle-v1
    # ---------------------------------------
    - stage: build & deploy
      name: 'Build & Deploy to next-console.kuzzle.io'

      if: type != pull_request && branch = 2-dev

      env:
        - DEPLOY_PATH=kuzzle-v1
      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm ci
        - npm run build

      before_deploy:
        - ~/.local/bin/aws s3 rm s3://$AWS_S3_BUCKET_DEV/$DEPLOY_PATH --recursive --region $AWS_S3_REGION

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_DEV
        skip_cleanup: true
        upload-dir: $DEPLOY_PATH
        local-dir: dist
        region: $AWS_S3_REGION
        on:
          all_branches: true

      after_deploy:
        - ~/.local/bin/aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DEV --paths "/$DEPLOY_PATH/*"

    # ---------------------------------------
    # next.console.kuzzle.io/kuzzle-v2
    # ---------------------------------------
    - stage: build & deploy
      name: 'Build & Deploy to next-console.kuzzle.io'

      if: type != pull_request && branch = 3-dev

      env:
        - DEPLOY_PATH=kuzzle-v2
      addons:
        apt:
          packages:
            - python
            - python-pip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm ci
        - npm run build

      before_deploy:
        - ~/.local/bin/aws s3 rm s3://$AWS_S3_BUCKET_DEV/$DEPLOY_PATH --recursive --region $AWS_S3_REGION

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_DEV
        skip_cleanup: true
        upload-dir: $DEPLOY_PATH
        local-dir: dist
        region: $AWS_S3_REGION
        on:
          all_branches: true

      after_deploy:
        - ~/.local/bin/aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DEV --paths "/$DEPLOY_PATH/*"
