sudo: required
dist: trusty

cache:
  directories:
    - ~/.npm
    - ~/.cache
    - node_modules # NPM packages
env:
  global:
    - secure: gfJ1/G69s0pOJhqoOB3bMAClvPPj3i++ckCCP/Yz2OMBFoAF3YCb2k2p5fRNX46s/hqkddHZnuSzaPRXHW5tToS7OhpN1HB6EDIfBS80zD1ZH5n5B8s/jKwzQLWv85bZATKc+R8Ir2ukBd/BQFurzd8JtQDpGS2hSCppOUQQApE3F+ghpET8dFPP7qncn1p98UBbbYyxiR53EM2xo93kByooe7nJiwjLvGVCp7zF9ZGKdp+yUzIb5tvOLnxvXrD2IvGl2Cuyf6bdqXUeM5yEhv0JwuD7SsIydCJZhTY8zCkMl3ITThY8HKV19sU6/zlG6aUsD5QAT58DiKk69icRc03kYCeLjUtuVHq/Nzq1grixc/uIi/KJlKxXd6h1NovAhLAkuuqjpLTKePOVeQdwCBZWQdXWPXUBK80px/ZYauydUqmaxHZq5JAM8hg0DbYICCqVcvro7WcUjCEW+VczO36wNU/qjbSsPehysIlWjt7qvcBfGPoGhlIm098jbXNQh0tM3PYInXiIPl/v1ctGUVWBlUkyppxgV3MYHFM04Pwv9lqovWmWuk+c4a22UE08/sTsHHrmS9T4zPfD6d/5Y1v8l8jMc9HGVa2ro642sRGgWS0QkazuQZ4ySYYpt98uv1NMq33L3ffbvsZo2mVCZ1ZWocCG7SbdWhJeOCysMMU=
    - secure: MJlvmEbSYf5q7tQ/DtPTMGLpN5SgudJ03bpI9zqIjq5p55YosaRz4egXArTJeZsfNsA6Z9Wx2yV9/zqp1Iaq0O7AqoWuB08X5DJ0I3WsEHTgly2a94W+nC8QnESbMVuo7kkNlykq2Xo9w2oBmuSgMsPL+6Qlcbb9+h09hUgENISldnv9Hw7dSstfUIAXSGVp4D/RjwaEfoOEfORdSAxO5sr9PuxV8P8RSwKuu/M82dG582w/pY9MOq6goIaIWTbNQDTT2FS7hzCAZuvhLxPqMAkcNYt8v/BA0AVpnPcDCduC5T9LM1EkV61pizV2C6PSEf5x28HP4eK7flU8A82KBGwXUZjc93v0cuYAsYh3CDQcHm8spljgVakVmhs+rogOu6roHexEQR4Y6pkVH9s80Q7ZmANqKIShWheYIBScBS1dl4Nq8O9z7GRUtEwNjarDi7GzPJDumAsl53/qeDw+B5UN746QFqdIJDpvZw1lf92dAlKjbMtvwpxBoFjqBCACFDhIZFLZz+c+uC4SItgirLXSRjJMglzromo0MRQ0Ga4JNPcJVXamzwMT7U8d9b44CsesBhLx498xP8S3pr+LAHIeEuGnoaxFS6ACjDO92ffKPjYvQW2pubWILEYyIuUk/MfUIBIVNAzUWnLzRETKw8bD3B/mmikDlvwAvN2XdL8=
    - secure: epbUm0zRQdQmnZMazfI4B8wclxxN61Dfp45z9mhlNlZYfprTdMP/+cKvLrTzi4FbfRRkH9WwK3Ic1Wm5CQAvAHOVyVg9EYaMKVOhymd8bVsFWStChXmvBKw2ghV4/MsbhUAnP2mNA7YWDMnCsANV/g4JBNgSZaeWSw8hen2w5zugHRnUz9vzwLzSOa7vLsId8ctmjwwFAObvuc6U9Vy755FrmX86uDmZGE8oRQtiwbkmQpj15+AqhYLN/LUnyapxqFyT3bgKoc+TAzR1nrEDtZ3Yg4kkgvmlks7jXEvXhwSAvASQvGhvYNpBpDVsL9LP3oTvvzZIvAYpVXwUY9gjlbGw+oa2ysurDxZoguAK2Ni5ZhXF0KoGha1GfY4YeNguBkbainVuFbTXkiis/veGRPfYGYh1uStbn2WRDSeY7eeGfoVqLfWHuMUZIFZMXaTq41UEYLJwKFuNeNtxs6eJyfVybWaO52ZtZYb5heetk62joZZtZ1ph9hnsBdnAY9duKB2NE7QXXLpA2VPqqndKcm47/z3mHOadg4PlR/pOJno/TxPaxTRYVotPzt9k2DcGiAcu/kUpwsl4uXJ4xmYCnm18lsfJ2Sq/6mj0+bguZLVTyt3j3uL3IVV+9sPFYwNod4fPEeH5xGvk0Vqk/k+IX4db5Tz/UK+7EV+Ii19XUEY=
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_DL=E12YL8EZVABYR0
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_PROD=E2GPBJ9T0QR37G
    - AWS_CLOUDFRONT_DISTRIBUTION_ID_QA=E35G0B414M3IWU
    - AWS_S3_BUCKET_DL=dl.kuzzle.io
    - AWS_S3_BUCKET_PROD=console.kuzzle.io
    - AWS_S3_BUCKET_QA=next.console.kuzzle.io

stages:
  - test
  - build & deploy
  - electron

jobs:
  include:
# ---------------------------------------
# Unit Testing
# ---------------------------------------
    - stage: test
      name: "Unit Tests"
      script:
        - npm install
        - npm run unit

      after_script:
        - npm run codecov

# ---------------------------------------
# Functionnal Testing
# ---------------------------------------
    - stage: test
      name: "Functionnal Tests"

      services:
        - docker

      before_install:
        - sudo sysctl -w vm.max_map_count=262144

      script:
        - npm install
        - npm run e2e

# ---------------------------------------
# Regular Build & Deploy
# ---------------------------------------
# console.kuzzle.io
# ---------------------------------------
    - stage: build & deploy
      name: "Build & Deploy to console.kuzzle.io"

      if: type != pull_request && branch = master

      addons:
        apt:
          packages:
            - python
            - python-pip
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_PROD
        region: us-west-2
        skip_cleanup: true
        local-dir: dist

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_PROD --paths "/*"

# ---------------------------------------
# next.console.kuzzle.io
# ---------------------------------------
    - stage: build & deploy
      name: "Build & Deploy to next.console.kuzzle.io"

      if: type != pull_request && branch =~ ^.[1-9]*-dev$

      addons:
        apt:
          packages:
            - python
            - python-pip
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_QA
        region: us-west-2
        skip_cleanup: true
        local-dir: dist
        on:
          all_branches: true

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_QA --paths "/*"

# ---------------------------------------
# Github release and s3 deployment
# ---------------------------------------
    - stage: build & deploy
      name: "Package and Share release"

      if: type != pull_request && branch = master

      addons:
        apt:
          packages:
            - python
            - python-pip
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build

      deploy:
      - provider: releases
        skip_cleanup: true
        api_key:
          secure: 'f1wF2fVe00UL1CPWCN9xkJc8z+heBBNSQ3+jO1XVHOMOvUwjbHHz7pg50alHqqBbq0COHkd71GdFOK602EOWf0B5m3iBhP43X46Kc9qilYkAXrCBQ4R4p8WkTfuhVa2smojFa1vnE4DGsxQbOOWeGkMWo82/Jk/eFQmKSUfn++ETe+YGQRDGMJua+fi84p6ofjkedjS0UQTPf9Oz6KKV5EQVDV7Vjvb6p4zc3bsUWtkPD3AfuIOzkbKNoKq5yAyAFkmyY6YsDTB0CDsCZlHipTQLkVDGQe64DxRxMHk+dKseV4+UVtNE1vdw8sT7KjHGKRhtyV3GtiSFVKulRNBQcD1bm9S7vHkkExED30iAv/NFTgdGZE1bvvBNhnfla9kfeHqwO2riX5zZA8RBYdNHWobnVdQrS4auaUBEFUgy8DkIHsQLUFSIzVY4CrcQkZFhbDYlGNI+AQxIU+HtqyISoULrahAsDK0UTeOd4bmzFA9OIYurmPe1NSakcdPtN8rR11ZyTcf2/2YyuekIvcpi/wv4BRTvBNWHPoV+YhbeJMu5C27NETWMQwR91fT64VwhzDsNqDIEaHQ6Pcr0YSeG4QSvlfNT3d1dSPg5EvA90AnPG9+6VD6s+Sa9CLkAINAj09exaTouI/xZSfgz8gnBe2f8zFspltbwBU5PnWSr7pc='
        file: 'kuzzle-admin-console.tar.gz'
      - provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_QA
        region: us-west-2
        skip_cleanup: true
        upload-dir: admin-console/
        local-dir: dist

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DL --paths "/*"

# ---------------------------------------
# Electron
# ---------------------------------------
# Linux
# ---------------------------------------
    - stage: electron
      name: "Linux Build & Deploy"

      if: type != pull_request && branch = master

      addons:
        apt:
          packages:
            - python
            - python-pip
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build
        - cp -fr dist/* .electron/
        - cd ./.electron && npm install --only=dev
        - ./node_modules/.bin/electron-packager . Kuzzle-Admin-Console-v$RELEASE_VERSION --electron-version 2.0.8 --platform linux && cd ..

      before_deploy:
        - mkdir deploy
      	- zip -r deploy/kuzzle-admin-console-v$RELEASE_VERSION-linux.zip .electron/Kuzzle-Admin-Console-v$RELEASE_VERSION-linux-x64/*

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_DL
        region: us-west-2
        skip_cleanup: true
        upload-dir: admin-console/electron
        local-dir: deploy

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DL --paths "/*"

# ---------------------------------------
# MacOS
# ---------------------------------------
    - stage: electron
      name: "MacOS Build & Deploy"

      if: type != pull_request && branch = master

      addons:
        apt:
          packages:
            - python
            - python-pip
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build
        - cp -fr dist/* .electron/
        - cd ./.electron && npm install --only=dev
        - PACKAGING_VERSION=$(node -p -e "require('./package.json').version")
        - ./node_modules/.bin/electron-packager . Kuzzle-Admin-Console-v$RELEASE_VERSION --electron-version 2.0.8 --platform darwin && cd ..

      before_deploy:
        - mkdir deploy
        - zip -r deploy/kuzzle-admin-console-v$RELEASE_VERSION-macos.zip .electron/Kuzzle-Admin-Console-v$RELEASE_VERSION-darwin-x64/*

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_DL
        region: us-west-2
        skip_cleanup: true
        upload-dir: admin-console/electron
        local-dir: deploy

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DL --paths "/*"

# ---------------------------------------
# Windows
# ---------------------------------------
    - stage: electron
      name: "Windows Build & Deploy"

      if: type != pull_request && branch = master

      addons:
        apt:
          packages:
            - python
            - python-pip
            - wine
            - zip

      install:
        - pip install awscli --upgrade --user

      script:
        - npm install
        - npm run build
        - cp -fr dist/* .electron/
        - cd ./.electron && npm install --only=dev
        - PACKAGING_VERSION=$(node -p -e "require('./package.json').version")
        - ./node_modules/.bin/electron-packager . Kuzzle-Admin-Console-v$RELEASE_VERSION --electron-version 2.0.8 --platform win32 && cd ..

      before_deploy:
        - mkdir deploy
        - zip -r deploy/kuzzle-admin-console-v$RELEASE_VERSION-windows.zip .electron/Kuzzle-Admin-Console-v$RELEASE_VERSION-win32-x64/*

      deploy:
        provider: s3
        access_key_id: $AWS_ACCESS_KEY_ID
        secret_access_key: $AWS_SECRET_ACCESS_KEY
        bucket: $AWS_S3_BUCKET_DL
        region: us-west-2
        skip_cleanup: true
        upload-dir: admin-console/electron
        local-dir: deploy

      after_deploy:
        - aws cloudfront create-invalidation --distribution-id $AWS_CLOUDFRONT_DISTRIBUTION_ID_DL --paths "/*"

