sudo: required
dist: trusty
services:
- docker

env:
  COMPOSE_VERSION: 1.2.0

before_script:
  - "curl -sL https://raw.githubusercontent.com/travis-ci/artifacts/master/install | bash"

script:
  - docker-compose -f docker-compose/test.yml
