proxy:
  image: kuzzleio/proxy
  ports:
    - "7511:7511"
    - "7512:7512"
    - "7513:7513"

backoffice:
  image: kuzzleio/backoffice
  environment:
    - BACKEND_HOST
    - BACKEND_PORT
  ports:
    - 3000:3000

kuzzle:
  image: kuzzleio/kuzzle:1.0.0-RC6
  links:
    - elasticsearch
    - redis
    - proxy:api

redis:
  image: redis:3.0-alpine

elasticsearch:
  image: kuzzleio/elasticsearch:2.3.4
