proxy:
  image: kuzzleio/proxy:alpine
  ports:
    - "7511:7511"
    - "7512:7512"

bo:
  image: kuzzleio/bo:1.0.0-RC3
  ports:
    - "3000:3000"
  links:
    - proxy:kuzzle
  environment:
    - KUZZLE_URL

kuzzle:
  image: kuzzleio/kuzzle:1.0.0-RC3
  links:
    - elasticsearch
    - redis
    - proxy:api

redis:
  image: redis:3.0-alpine

elasticsearch:
  image: kuzzleio/elasticsearch:2.2
