<span class="cog-options-indexes">
    <span class="dropdown">
        <small class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="More options..."></small>
        <ul class="dropdown-menu">
            <li ng-if="canEdit"><a href="" ui-sref="indexes.full({index: index.name})" title="Go to full view">Edit</a></li>
            <li><a href="" ng-click="openModalEmptyIndex()" class="text-danger" title="Truncate the index...">Empty</a></li>
            <li><a href="" ng-click="openModalDeleteIndex()" class="text-danger" title="Delete index ...">Delete</a></li>
        </ul>
    </span>
</span>