<div class="modal-header">
    <h3 class="modal-title"><strong>Delete</strong> index <span ng-bind="index.name"></span></h3>
</div>
<div class="modal-body">
    <p>This action CANNOT be undone.</p>
    <p>This will permanently <strong>delete</strong> the index <strong ng-bind="index.name"></strong> (data AND schema).</p>
    <p></p>
    <p>Please type in the name of the index to confirm.</p>

    <form>
        <input class="form-control" type="text" ng-model="deleteName">
    </form>
</div>
<div class="modal-footer">
    <div class="actions-group">
        <button class="btn btn-danger control" type="button" ng-click="delete()" ng-disabled="index.name !== deleteName">
            I really want to remove this index
        </button>
        <a class="control" ng-click="cancelModal()">Cancel</a>
    </div>
</div>