<div class="row realtime-watch" ng-controller="WatchDataCtrl" ng-init="init()">
    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Realtime <small>watch data</small>
        </h1>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default filters">
            <div class="panel-body">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Collection</label>
                            <input
                                    type="text"
                                    ng-model="collection"
                                    uib-typeahead="collection for collection in collections | filter:$viewValue"
                                    typeahead-min-length="0"
                                    class="form-control" />
                        </div>
                    </div>
                </div>

                <filters
                        add-group-label="Add group"
                        filters="filter"
                        collection="collection"
                        comparators="comparators"
                        search-type="searchType"
                        submit-label="Subscribe"
                        clear-label="Clear"
                        advanced-search="advancedSubscribe()"
                        basic-search="basicSubscribe()"
                        stop-search="unsubscribe()"
                        stop-label="Unsubscribe"
                        subscribed="subscribed">
                </filters>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <ul>
                <li ng-repeat="messages in message">
                    <p ng-bind="message.requestId"></p>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-sm-8">
        <documents-inline documents="documents" collection="collection" can-edit="false"></documents-inline>
    </div>
</div>