<!-- <div class="row realtime-watch"> -->
    <div class="headline">
        <h1 class="page-header">
            Realtime <small>watch data</small>
        </h1>
    </div>
<!-- </div> -->
<div class="watch-data-container" ng-controller="WatchDataCtrl" ng-init="init()">
    <div class="filters-container">
        <div class="panel panel-default filters">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Collection</label>
                            <input
                                    type="text"
                                    ng-model="collection"
                                    uib-typeahead="collection for collection in collections | filter:$viewValue"
                                    typeahead-min-length="0"
                                    class="form-control" />
                        </div>
                    </div>
                </div>

                <filters
                        add-group-label="Add group"
                        filters="filter"
                        collection="collection"
                        comparators="comparators"
                        search-type="searchType"
                        subscribed="subscribed">
                </filters>

                <div class="form-group">
                    <button type="submit" class="btn btn-default" ng-click="subscribe()" ng-disabled="subscribed">Subscribe &nbsp;<span class="glyphicon glyphicon-play"><span></button>
                    <button type="submit" class="btn btn-default" ng-click="unsubscribe()" ng-disabled="!subscribed">Unsubscribe&nbsp;<span class="glyphicon glyphicon-pause"><span></button>
                </div>
            </div>
        </div>
        <div class="panel panel-default publish">
          <div class="panel-body">
            <label>Publish <small>a volatile message</small></label>
            <form name="forms.publish">
              <div class="form-group">
                <p class="text-danger" ng-show="error" ng-bind="error"></p>
                <json-edit content="messageToPublish"></json-edit>
              </div>
              <button type="button" name="button" class="btn btn-default" ng-click="publishMessage(messageToPublish)">
                Publish &nbsp; <span class="glyphicon glyphicon-send"></span>
              </button>
            </form>
          </div>
        </div>
    </div>
    <div class="log-spacer">
      <messages
        class="fixed-right message-log"
        collection="collection"
        messages="messages"
        init-messages="initMessages()">
      </messages>
    </div>
</div>
