<div class="panel panel-default filters" ng-if="forms.collection">
    <div class="panel-body">
        <filters
                dsl-doc-url="https://github.com/kuzzleio/kuzzle/blob/master/docs/filters.md"
                add-group-label="Add group"
                filters="forms.filter"
                collection="forms.collection"
                comparators="forms.comparators"
                search-type="forms.searchType"
                subscribed="forms.subscribed"
                is-realtime="true">
        </filters>

        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="subscribe()" ng-disabled="subscribed">Subscribe &nbsp;<span class="glyphicon glyphicon-play"><span></button>
            <button type="submit" class="btn btn-default" ng-click="unsubscribe()" ng-disabled="!subscribed">Unsubscribe&nbsp;<span class="glyphicon glyphicon-pause"><span></button>
            <button class="btn btn-link" ng-click="resetFilters()">Clear</button>
        </div>
    </div>
</div>
<div class="panel panel-default publish" ng-if="forms.collection">
  <div class="panel-body">
    <label>Publish <small>a volatile message</small></label>
    <form name="forms.publish">
      <div class="form-group">
        <p class="text-danger" ng-show="error" ng-bind="error"></p>
        <json-edit content="forms.messageToPublish"></json-edit>
      </div>
      <button type="button" name="button" class="btn btn-default" ng-click="publishMessage(forms.messageToPublish)">
        Publish &nbsp; <span class="glyphicon glyphicon-send"></span>
      </button>
    </form>
  </div>
</div>

<messages
  class="fixed-right message-log"
  collection="forms.collection"
  messages="forms.messages"
  init-messages="clearMessages()">
</messages>
