<div class="role-browse" ng-controller="ProfileBrowseCtrl" ng-init="init()">
    <headline title="Profiles" subtitle="Browse profiles"></headline>
    <div class="container">
        <div class="row whitespace-top">
            <div class="col-sm-12">
                <div class="create">
                    <button type="button" class="btn btn-success"  ui-sref="profile.create">Add profile</button>
                </div>

              <div class="container">
                <div class="row whitespace-top">
                  <div class="col-sm-12">
                    <documents-inline documents="profiles" profile="true" can-edit="true"></documents-inline>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-9" ng-if="profiles.length === 0">
                <p>There is no profile in this database.</p>
            </div>
        </div>
    </div>
</div>