proxy:
  image: kuzzleio/proxy:develop
  ports:
    - "7511:7511"
    - "7512:7512"
    - "7513:7513"

backoffice:
  image: kuzzleio/bo-dev:alpine
  command: /run-dev.sh
  volumes:
    - "..:/var/app"
    - "./run-dev.sh:/run-dev.sh"
  ports:
    - "3000:3000"
  links:
    - proxy:kuzzle
    # add link to elasticsearch in order to perform a dump
    - elasticsearch
  environment:
    - DEBUG_PHANTOM
    - KUZZLE_URL

kuzzle:
  image: kuzzleio/kuzzle:develop
  volumes:
      - "../kuzzle/fixtures.json:/fixtures.json"
  links:
    - elasticsearch
    - redis
    - proxy:api
  environment:
    - kuzzle_fixtures=/fixtures.json

redis:
  image: redis:3.0-alpine

elasticsearch:
  image: kuzzleio/elasticsearch:2.3.4
