<div ui-view="mainView" class="view-fade">

  <div class="storage-browse select-index-helper">
    <headline title="Storage" subtitle=""></headline>
    <img src="images/trollface.jpg" class="trollface">
    <div class="container">
      <div class="row">

      <span class="select-collection-helper">
        You might think that's a button ?
      </span>
      <div class="col-sm-4 col-sm-offset-4 text-center select-collection-helper-text">
        <h3>No index selected</h3>
      </div>
      </div>
    </div>
  </div>


</div>