<div scroll-glue style="
    height: 100%;
    overflow-y: auto;
">
  <button
    ng-if="collection"
    class="pull-right btn btn-default btn-clear"
    ng-click="initMessages()"
    style="margin: 10px 20px;
      position: absolute;
      z-index: 100000;
      right: 35px;">
    Clear
  </button>
  <button
    class="pull-right btn btn-default btn-clear"
    ng-click="collapseToggle()"
    style="margin: 10px 20px;
    padding: 5px 0 3px 7px;
    position: absolute;
    z-index: 100000;
    right: 0;">
    <i class="glyphicon glyphicon-menu-right" ng-if="messageBoardOpen"></i>
    <i class="glyphicon glyphicon-menu-left" ng-if="!messageBoardOpen"></i> &nbsp;
  </button>
  <div class="message-list-container">
    <ul class="message-list"
        ng-if="collection">
      <li class="message-item" ng-repeat="(key, message) in messages">
        <span class="{{message.class}}" title="{{message.text}}">
          <span class="glyphicon glyphicon-{{message.icon}}"></span>&nbsp;
          <span ng-if="messageBoardOpen">{{message.text}}</span>
        </span>
        &nbsp;<code ng-if="messageBoardOpen && message.id" class="document-id" ng-click="toggleExpanded(key)">{{message.id}}</code>
        <button ng-if="message.source" type="button" class="btn btn-default btn-xs" ng-click="toggleExpanded(key)" title="Details..."><span class="glyphicon glyphicon-option-horizontal"></span></button>
        <a ng-if="messageBoardOpen && message.id && message.source && message.canEdit"
           ui-sref="storage.full({collection: message.collection, index: message.index, id: message.id})">
          <span class="edit-document edit glyphicon glyphicon-eye-open" title="Edit document..."></span>
        </a>
        <pre ng-if="message.source && message.expanded">{{message.source | json:4 }}</pre>
      </li>
    </ul>
  </div>
</div>
