<div class="row documents" ng-repeat="document in documents">
    <div id="{{document.id}}" class="panel panel-default" ng-class="{deleted: document.isDeleted}">
        <div class="panel-body">
            <div class="row">
                <!-- title col -->
                <!-- collection/documents -->
                <div class="col-sm-2 ellipsis"
                     ng-if="collection"
                     uib-popover="{{document.id}}" popover-placement="top" popover-animation="false">
                    <strong class="document-id" title="Display the whole ID" ng-bind="document.id"></strong>
                </div>
                <!-- /collection/documents -->

                <!-- roles -->
                <div class="col-sm-2 ellipsis"
                     ng-if="role">
                    <strong class="document-id" title="Display the whole ID" ng-bind="document.id"></strong>
                </div>
                <!-- /roles -->

                <!-- profiles -->
                <div class="col-sm-2 ellipsis" ng-if="profile">
                    <strong class="document-id" title="Display the whole ID" ng-bind="document.id"></strong>
                </div>

                <div class="col-sm-2" ng-if="profile">
                    <div class="btn-group-vertical btn-group-xs roles-list">
                        <a type="button" class="btn btn-default ellipsis"
                                ng-repeat="role in document.content.roles"
                                ui-sref="role.full({role: role})"
                                ng-bind="role"></a>
                    </div>
                </div>
                <!-- /profiles -->

                <!-- users -->
                <div class="col-sm-2 ellipsis" ng-if="user">
                    <strong class="document-id" title="Display the whole ID" ng-bind="document.id"></strong>
                </div>

                <div class="col-sm-2" ng-if="user">
                    <div class="btn-group-vertical btn-group-xs profiles-list">
                        <a type="button" class="btn btn-default ellipsis"
                                ui-sref="profile.full({profile: document.content.profile})"
                                ng-bind="document.content.profile"></a>
                    </div>
                </div>
                <!-- users -->
                <!-- /title col -->

                <!-- edit col -->
                <div ng-class="{'col-sm-6': profile || user, 'col-sm-8': collection || role}">
                    <json-formatter open="0" json="document.content" ng-if="!document.isEdit"></json-formatter>

                    <json-edit ng-if="canEdit && document.isEdit" can-edit="canEdit" content="document.json"></json-edit>
                </div>
                <!-- /edit col -->

                <document-toolbar
                        class="col-sm-2"
                        ng-if="collection"
                        can-edit="canEdit"
                        document="document"
                        after-delete="afterDelete(document)"
                        collection="collection">
                </document-toolbar>
                <role-toolbar
                        class="col-sm-2"
                        ng-if="role"
                        can-edit="canEdit"
                        after-delete="afterDelete(document)"
                        document="document">
                </role-toolbar>
                <profile-toolbar
                        class="col-sm-2"
                        ng-if="profile"
                        can-edit="canEdit"
                        after-delete="afterDelete(document)"
                        document="document">
                </profile-toolbar>
                <user-toolbar
                        class="col-sm-2"
                        ng-if="user"
                        can-edit="canEdit"
                        after-delete="afterDelete(document)"
                        document="document">
                </user-toolbar>
            </div>

        </div>
    </div>
</div>
