<div scroll-glue style="
    height: 100%;
    overflow-y: auto;
">
  <button
    class="pull-right btn btn-default"
    ng-click="initMessages()"
    style="margin: 10px 20px;
      position: absolute;
      z-index: 100000;
      right: 0;">
    Clear
  </button>
  <ul class="message-list">
    <li class="message-item" ng-repeat="(index, message) in messages">
      <span class="{{message.class}}">
        <span class="glyphicon glyphicon-{{message.icon}}"></span>&nbsp;
        {{message.text}}
      </span>&nbsp;<code class="document-id" ng-click="toggleExpanded(index)" ng-if="message.id">{{message.id}}</code>
      <button ng-if="message.source" type="button" class="btn btn-default btn-xs" ng-click="toggleExpanded(index)" title="Details..."><span class="glyphicon glyphicon-option-horizontal"></span></button>
      <a href ng-if="message.id" ui-sref="storage.full({collection: collection, id: message.id})"><span ng-if="message.source && message.canEdit" class="edit-document edit glyphicon glyphicon-eye-open" title="Edit document..."></span></a>
      <pre ng-if="message.source && message.expanded">{{message.source | json:4 }}</pre>
    </li>
  </ul>
</div>
