<span class="cog-options-collection">
    <span class="dropdown">
        <small class="glyphicon glyphicon-cog dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></small>
        <ul class="dropdown-menu">
            <li ng-if="canEdit"><a href="" ui-sref="collection.full({collection: collection})">Edit</a></li>
            <li><a href="" ng-click="openModalEmptyCollection()" class="text-danger">Empty</a></li>
            <li ng-click="openModalDeleteCollection()"><a href="" ng-click="" class="text-danger">Delete</a></li>
        </ul>
    </span>
</span>