<div class="user-browse" ng-controller="UserBrowseCtrl" ng-init="init()">
    <headline title="users" subtitle="Browse users"></headline>
    <div class="container">
        <div class="row whitespace-top">
            <div class="col-sm-12">
                <div class="row create">
                    <button type="button" class="btn btn-success"  ui-sref="user.create">Add user</button>
                </div>

                <documents-inline documents="users" user="true" can-edit="true"></documents-inline>
            </div>

            <div class="col-sm-9" ng-if="users.length === 0">
                <p>There is no user in this database.</p>
            </div>
        </div>
    </div>
</div>