<div class="edit-collection" ng-controller="UserFullCtrl" ng-init="init('{{action}}')">
  <headline title="User" subtitle="{{action}}"></headline>
  <div class="container container-medium">
    <div class="row whitespace-top">
      <div class="col-sm-12 user-not-found" ng-if="notFoundError">
        <p>There is no user matching the name <strong ng-bind="user.id">null</strong>.</p>
      </div>

      <div class="col-sm-12" ng-if="!notFoundError">

        <form>
            <div class="form-group">
                <label for="user-id">User id</label>
                <input type="text" class="form-control" ng-model="user.id" id="user-id" ng-disabled="isEdit">
            </div>
            <div class="form-group">
                <label for="name">User content</label>
                <json-edit content="user.content"></json-edit>
            </div>

            <div class="actions-group">
                <button id="create" type="submit" class="btn btn-success control" ng-if="!isEdit" ng-click="update(true)">Create</button>
                <button id="update" type="submit" class="btn btn-success control" ng-if="isEdit" ng-click="update()">Update</button>
                <a class="control" ng-click="cancel()">Cancel</a>
            </div>
        </form>

      </div>
    </div>
  </div>
</div>
