<div class="edit-index" ng-controller="IndexesCtrl" ng-init="init('{{action}}')">
  <headline title="Index" subtitle="{{action}}"></headline>
  <div class="container container-medium">
    <div class="row whitespace-top">
      <div class="col-sm-12">

        <form>
            <div class="form-group">
                <label for="name">Index name</label>
                <input type="text" class="form-control" ng-bind="name" ng-model="name" id="name" ng-disabled="isEdit">
            </div>

            <div class="actions-group">
                <button type="submit" id="create" class="btn btn-success control" ng-if="!isEdit" ng-click="createIndex(name)">Create</button>
                <a class="control" ng-click="cancel()">Cancel</a>
            </div>
        </form>

    </div>
</div>