<meta charset="UTF-8">
<title>Kuzzle BO</title>

<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/bootstrap/css/sb-admin.css" type="text/css">

<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/styles/lib/angular-loading-bar.min.css" type="text/css">
<link rel="stylesheet" href="/styles/lib/angular-ui-notification-0.0.14.min.css" type="text/css">
<link rel="stylesheet" href="/styles/lib/json-formatter-0.4.0.min.css" type="text/css">

<link rel="stylesheet" href="/styles/common.css" type="text/css">
<link rel="stylesheet" href="/styles/storage.css" type="text/css">
<link rel="stylesheet" href="/styles/navbar.css" type="text/css">