<meta charset="UTF-8">
<title>Kuzzle BO</title>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">

<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" type="text/css">

<link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css">
<link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css" type="text/css">
<link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" type="text/css">

<link rel="stylesheet" href="/styles/common.css" type="text/css">
<link rel="stylesheet" href="/styles/storage.css" type="text/css">
<link rel="stylesheet" href="/styles/realtime.css" type="text/css">
<link rel="stylesheet" href="/styles/navbar.css" type="text/css">
<link rel="stylesheet" href="/styles/notifications.css" type="text/css">
<link rel="stylesheet" href="/styles/modal.css" type="text/css">
<link rel="stylesheet" href="/styles/collection.css" type="text/css">
<link rel="stylesheet" href="/styles/basicFilter.css" type="text/css">
