<div id="sidebar" class="navbar-collapse navbar-ex1-collapse collapse" aria-expanded="false" style="height: 1px;">
    <ul class="nav navbar-nav side-nav">
        <li ui-sref-active="active">
            <a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#menu-rt" href>
                <i class="glyphicon glyphicon-time"></i>
                Realtime
                <i class="fa fa-fw fa-caret-down" ng-class="{ 'fa-caret-down': ('realtime.*.*' | includedByState) }"></i>
            </a>
            <ul id="menu-rt" class="collapse" ng-class="{ in: ('realtime.*.*' | includedByState) }">
                <li ui-sref-active="active">
                    <a ui-sref="realtime.watch-data"><i class="fa fa-list-alt"></i> Watch data</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#menu-storage" href>
                <i class="fa fa-database"></i>
                Storage
                <i class="fa fa-fw fa-caret-down"></i>
            </a>
            <ul id="menu-storage" class="collapse" ng-class="{ in: ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) }">
                <li ng-class="{ active: ('storage.*.*' | includedByState) }">
                    <a ui-sref="storage.browse"><i class="fa fa-list-alt"></i> Browse data</a>
                </li>
                <li ng-class="{ active: ('collection.*.*' | includedByState) }">
                    <a ui-sref="collection.browse"><i class="fa fa-table"></i> Browse collection</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="https://gitter.im/kuzzleio/kuzzle" target="_blank"><i class="fa fa-comment"></i> Chat with the team</a>
        </li>
    </ul>
</div>