<div
    ng-controller="SidebarCtrl"
    ng-init="init()"
    id="sidebar"
    class="navbar-collapse navbar-ex1-collapse collapse"
    aria-expanded="false"
    style="height: 1px;"
>
    <ul class="nav navbar-nav side-nav">
        <li ui-sref-active="active">
            <a href="/">
                <i class="fa fa-fw fa-dashboard pull-left"></i>
                    Dashboard
                <i class="fa fa-fw fa-caret-down pull-right clear"></i>
            </a>
        </li>

        <!-- Data -->
        <li>
            <a href data-toggle="collapse" data-target="#menu-data" ng-class="{ in: ('indexes.*.*' | includedByState) || ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) || ('realtime.*.*' | includedByState)}">
                <i class="fa fa-database pull-left"></i>
                Data
                <i class="fa fa-fw fa-caret-down pull-right"></i>
            </a>
            <ul
                ng-controller="IndexesCtrl"
                ng-init="init()"
                id="menu-data" 
                class="collapse" 
                ng-class="{ in: ('indexes.*.*' | includedByState) || ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) || ('realtime.*.*' | includedByState)}"
            >

                <!-- Indexes -->
                <li>
                    <a ui-sref="indexes.browse">
                        <i class="fa fa-database"></i> Manage indexes
                    </a>
                </li>

                <li class="divider"></li>

                <li>
                    <indexes-drop-down-search
                        selected-index="indexData.selectedIndex"
                        create-label="New index"
                        items="indexData.indexes"
                        on-click-create="onCreateIndex(name)"
                        on-click-item="onSelectIndex(item)"
                        placeholder="Find an index">
                    </indexes-drop-down-search>
                </li>

                <li class="divider"></li>
                <!-- / Indexes -->


                <!-- Persisted data -->
                <li ng-show="indexData.selectedIndex">
                    <a href="javascript:;" data-toggle="collapse" data-target="#menu-storage" ng-class="{ in: ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) }">
                        <i class="fa fa-database"></i>
                        Storage
                        <i class="fa fa-fw fa-caret-down pull-right"></i>
                    </a>
                    <ul id="menu-storage" class="collapse" ng-class="{ in: ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) }">
                        <li ng-class="{ active: ('storage.*.*' | includedByState) }">
                            <a ui-sref="storage.browse({index: indexData.selectedIndex})"><i class="fa fa-list-alt"></i> Browse data</a>
                        </li>
                        <li ng-class="{ active: ('collection.*.*' | includedByState) }">
                            <a ui-sref="collection.browse({index: indexData.selectedIndex})"><i class="fa fa-table"></i> Browse collection</a>
                        </li>
                    </ul>
                </li>
                <!-- / Persisted data -->



                <!-- Real-time data -->
                <li ng-show="indexData.selectedIndex">
                    <a href="javascript:;" data-toggle="collapse" data-target="#menu-rt" ng-class="{ in: ('realtime.*.*' | includedByState) }">
                        <i class="glyphicon glyphicon-time"></i>
                        Realtime
                        <i class="fa fa-fw fa-caret-down pull-right"></i>
                    </a>
                    <ul id="menu-rt" class="collapse" ng-class="{ in: ('realtime.*.*' | includedByState) }">
                        <li ng-class="{ active: ('realtime.*.*' | includedByState) }">
                            <a ui-sref="realtime.watch-data({index: indexData.selectedIndex})"><i class="fa fa-list-alt"></i> Watch data</a>
                        </li>
                    </ul>
                </li>
                <!-- / Real-time data -->
            </ul>
        </li>
        <!-- / Data -->


        <!-- Plugins -->
        <li>
            <a href data-toggle="collapse" data-target="#menu-plugins">
                <i class="fa fa-puzzle-piece pull-left"></i>
                Plugins
                <i class="fa fa-fw fa-caret-down pull-right"></i>
            </a>      
            <ul 
                id="menu-plugins" 
                class="collapse" 
                ng-class="{ in: ('data.*.*' | includedByState) || ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) || ('realtime.*.*' | includedByState)}"
            >
                <li>
                    <a href>toto</a>
                </li>
            </ul>
        </li>
        <!-- / Plugins -->

        <!-- Security -->
        <li>
            <a href data-toggle="collapse" data-target="#menu-security">
                <i class="fa fa-shield pull-left"></i>
                Security
                <i class="fa fa-fw fa-caret-down pull-right"></i>
            </a>      
            <ul 
                id="menu-security" 
                class="collapse" 
                ng-class="{ in: ('data.*.*' | includedByState) || ('storage.*.*' | includedByState) || ('collection.*.*' | includedByState) || ('realtime.*.*' | includedByState)}"
            >
                <li>
                    <a href>toto</a>
                </li>
            </ul>
        </li>
        <!-- / Security -->


        <!-- Help and feedback -->
        <li class="bottom menu-help">
            <a href="javascript:;" data-toggle="collapse" data-target="#menu-help">
                <i class="fa fa-question pull-left"></i> 
                Help and feedback
                <i class="fa fa-fw fa-caret-up pull-right"></i>
            </a>
            <ul id="menu-help" class="collapse">
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#menu-help-doc">
                        <i class="fa fa-book"></i> 
                        Read the doc
                        <i class="fa fa-fw fa-caret-up pull-right"></i>
                    </a>
                    <ul id="menu-help-doc" class="collapse">
                        <li>
                            <a href="https://github.com/kuzzleio/kuzzle/blob/0.7.2/docs/README.md" target="_blank"><i class="fa fa-book"></i> Kuzzle</a>
                        </li>
                        <li>
                            <a href="http://kuzzleio.github.io/sdk-documentation/" target="_blank"><i class="fa fa-book"></i> SDK</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="https://gitter.im/kuzzleio/kuzzle" target="_blank"><i class="fa fa-comments-o"></i> Chat with the team</a>
                </li>
                <li>
                    <a href="mailto:feedback@kuzzle.io"><i class="fa fa-commenting-o"></i> Give your feedback</a>
                </li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#menu-help-issue">
                        <i class="fa fa-github"></i> 
                        Create an issue
                        <i class="fa fa-fw fa-caret-up pull-right"></i>
                    </a>
                    <ul id="menu-help-issue" class="collapse">
                        <li>
                            <a href="https://github.com/kuzzleio/kuzzle/issues/new" target="_blank"><i class="fa fa-github"></i> Kuzzle</a>
                        </li>
                        <li>
                            <a href="https://github.com/kuzzleio/kuzzle-bo/issues/new" target="_blank"><i class="fa fa-github"></i> Back-office</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <!-- / Help and feedback -->

    </ul>
</div>