<div class="view-fade h100 posrel metrics">
  <div class="metrics-container" ng-controller="MetricsCtrl" ng-init="init()">
    <headline title="System metrics" subtitle="server state"></headline>
    <div class="container">
      <div class="whitespace-top row">
        <div class="col-sm-4">
          <widget title="Server Information" name="serverInfo" widgets="widgets" ng-if="canGetServerInfo">
            <table class="table">
              <tbody>
              <tr>
                <th>Component</th>
                <th>Information</th>
              </tr>
              <tr>
                <td>Uptime</td>
                <td ng-bind="serverInfo.kuzzle.uptime | secondsToDateTime"></td>
              </tr>
              <tr>
                <td>Kuzzle version</td>
                <td ng-bind="serverInfo.kuzzle.version"></td>
              </tr>
              <tr>
                <td>Node version</td>
                <td ng-bind="serverInfo.kuzzle.nodeVersion"></td>
              </tr>
              <tr>
                <td>Used memory</td>
                <td ng-bind="Math.round(serverInfo.kuzzle.memoryUsed / 1024 / 1024) + ' Mb'"></td>
              </tr>
              <tr>
                <td>Free memory</td>
                <td ng-bind="Math.round(serverInfo.kuzzle.system.memory.free / 1024 / 1024) + ' Mb'"></td>
              </tr>
              <tr>
                <td>Total memory</td>
                <td ng-bind="Math.round(serverInfo.kuzzle.system.memory.total / 1024 / 1024) + ' Mb'"></td>
              </tr>
              <tr>
                <td>Cpu count</td>
                <td ng-bind="serverInfo.kuzzle.system.cpus.length"></td>
              </tr>
              </tbody>
            </table>
          </widget>
          <widget title="Resources usage" name="resourceInfo" widgets="widgets" ng-if="canGetServerInfo">
            <div  class="text-center">
              <gauge style="display: inline-block" label="Cpu" value="cpuPercent"></gauge>
              <gauge style="display: inline-block" label="Memory" value="memoryPercent"></gauge>
            </div>
          </widget>
          <widget title="Plugin Information" name="pluginInfo" widgets="widgets" ng-if="canGetServerInfo">
            <table class="table">
              <tbody>
              <tr>
                <th>Plugin</th>
                <th>Activated</th>
              </tr>
              <tr ng-repeat="(key, plugin) in serverInfo.kuzzle.plugins">
                <td ng-bind="key"></td>
                <td>
                  <span ng-class="{ 'glyphicon glyphicon-ok': plugin.activated, 'glyphicon glyphicon-remove': !plugin.activated }"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </widget>
        </div>

        <div class="col-sm-8">
          <widget title="Statistics" name="statInfo" widgets="widgets" ng-if="canGetStats">
            <chart ylabel="Requests" series="statisticSeries" newvalue="newStatValue"></chart>
          </widget>
          <widget title="API Information" name="apiInfo" widgets="widgets" ng-if="canGetServerInfo">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Controller</th>
                        <th>Actions</th>
                    </tr>
                    <tr ng-repeat="(controller, routes) in serverInfo.kuzzle.api.routes">
                        <td ng-bind="controller"></td>
                        <td><span ng-repeat="route in routes" ng-bind="route.name + ' '" title="{{ route.method | uppercase }} - {{ route.route }}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </widget>
        </div>
      </div>
    </div>
  </div>
</div>
