<div>
    <label class="control-label {{form.labelHtmlClass}}" for="lat">{{latLabel}}</label>
    <input
            ng-model="marker[latLabel]"
            type="number"
            step="any"
            class="form-control {{form.fieldHtmlClass}}"
            id="lat"
            ng-model-options="{ updateOn: 'blur' }">


    <label class="control-label {{form.labelHtmlClass}}" for="lng">{{lngLabel}}</label>
    <input
            ng-model="marker[lngLabel]"
            type="number"
            step="any"
            class="form-control {{form.fieldHtmlClass}}"
            id="lng"
            ng-model-options="{ updateOn: 'blur' }">
</div>

<div class="row map">
    <div class="col-sm-12">
        <leaflet
                map-id="mapId"
                marker="marker"
                on-map-click="onMapClick(event)"
                zoom="7"
                on-drag="onDrag(event, markerId)"
                lat-label="latLabel"
                lng-label="lngLabel"></leaflet>
    </div>
</div>
