.filters form {
  margin-top: 20px;
  margin-bottom: 25px; }
  .filters form .form-group.basic-filter {
    margin-left: -10px;
    margin-bottom: 10px; }
    .filters form .form-group.basic-filter .col-no-padding {
      padding: 0;
    }
  .filters form .form-group .actions-term {
    padding-left: 0; }
    .filters form .form-group .actions-term .add-term, .filters form .form-group .actions-term .remove-term {
      cursor: pointer;
      margin-right: 10px; }
    .filters form .form-group .actions-term .remove-term {
      display: none; }
  .filters form .form-group:hover .remove-term {
    display: inline-block; }
  .filters form .form-group .ace_editor {
    height: 250px;
    margin-bottom: 10px; }
  .filters form .form-group button {
    margin-right: 6px; }
.filters .add-group {
  margin-left: 5px; }
.filters .or-label {
  font-weight: bold; }
