body {
  background-color: #F3F3F3; }

div.view-fade {
  top: 0;
  left: 0;
  right: 0;
  opacity: 1; }
  div.view-fade.ng-enter {
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
  div.view-fade.ng-enter {
    opacity: 0; }
  div.view-fade.ng-enter-active {
    opacity: 1; }
  div.view-fade.ng-leave {
    opacity: 1; }
  div.view-fade.ng-leave-active {
    opacity: 0; }

div.row .col-no-padding-left {
  padding-left: 0;
}
.actions-group button.control {
  margin-right: 10px; }
.actions-group a.control {
  cursor: pointer; }

#page-wrapper {
  padding: 0;
  background-color: #F3F3F3; }
  #page-wrapper #loading-bar-wrapper .bar {
    position: inherit;
    height: 3px; }
  #page-wrapper .headline {
    margin-bottom: 10px; }

.dropdown-menu li a.text-danger {
  color: #a94442;
  font-weight: bold; }

.edit-document {
  cursor: pointer;
  margin-right: 4px;
  margin-left: 4px; }
