.menubar {
  background-color: #FFFFFF;
  border-color: #E6E6E6; }
  .menubar .navbar-brand {
    padding: 10px 15px; }
  .menubar .navbar-toggle {
    background-color: #333; }
  .menubar img {
    height: 30px; }

#sidebar .side-nav {
  background-color: #263238; }
  #sidebar .side-nav li.active {
    background-color: #45b29d; }
    #sidebar .side-nav li.active a {
      background-color: #45b29d;
      color: #fff; }
  #sidebar .side-nav li a:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
    color: #fff; }
