.collections {
  text-align: center; }
  .collections li.active a {
    background-color: #528186; }
    .collections li.active a:focus {
      background-color: #528186; }
    .collections li.active a:hover {
      color: #fff;
      background-color: #6C9A9E; }

.browse-documents .create {
  margin-bottom: 10px; }
  .browse-documents .create button {
    padding: 8px 30px 8px 30px; }
.browse-documents .filters form {
  margin-top: 20px;
  margin-bottom: 25px; }
  .browse-documents .filters form .form-group.basic-filter {
    margin-left: -10px;
    margin-bottom: 10px; }
  .browse-documents .filters form .form-group .actions-term {
    padding-left: 0; }
    .browse-documents .filters form .form-group .actions-term .add-term, .browse-documents .filters form .form-group .actions-term .remove-term {
      cursor: pointer;
      margin-right: 10px; }
    .browse-documents .filters form .form-group .actions-term .remove-term {
      display: none; }
  .browse-documents .filters form .form-group:hover .remove-term {
    display: inline-block; }
  .browse-documents .filters form .form-group .ace_editor {
    height: 200px;
    margin-bottom: 10px; }
  .browse-documents .filters form .form-group button {
    margin-right: 10px; }
.browse-documents .filters .add-group {
  margin-left: 5px; }
.browse-documents .filters .or-label {
  font-weight: bold; }
.browse-documents .documents .panel {
  margin-bottom: 5px; }
  .browse-documents .documents .panel.deleted {
    background-color: #EBCCCC;
    border-color: rgba(255, 0, 0, 0.29); }
  .browse-documents .documents .panel .panel-body {
    padding-bottom: 10px;
    padding-top: 10px; }
    .browse-documents .documents .panel .panel-body .ace_editor {
      height: 250px; }
    .browse-documents .documents .panel .panel-body .edit-document {
      cursor: pointer;
      margin-right: 4px; }
    .browse-documents .documents .panel .panel-body .json-formatter-row:first-child > a:first-child > .thumbnail-text {
      opacity: .5; }
    .browse-documents .documents .panel .panel-body ul span {
      margin-right: 10px; }
.browse-documents .total-documents {
  margin-top: 10px;
  color: #777; }
  .browse-documents .total-documents p {
    text-align: right;
    margin-bottom: 0; }
.browse-documents ul.pagination {
  margin-top: 0; }

.edit-document .form button.control {
  margin-right: 10px; }
