.collections {
  text-align: center; }
  .collections li.active a {
    background-color: #528186; }
    .collections li.active a:focus {
      background-color: #528186; }
    .collections li.active a:hover {
      color: #fff;
      background-color: #6C9A9E; }
  .collections drop-down-search button {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .collections drop-down-search .dropdown-menu {
    width: 200px; }
    .collections drop-down-search .dropdown-menu li {
      cursor: pointer; }
      .collections drop-down-search .dropdown-menu li a {
        padding: 8px 0 8px 10px; }
        .collections drop-down-search .dropdown-menu li a.external-link {
          padding: 5px 0 5px 10px;
          text-decoration: underline;
          color: #215C9C; }
    .collections drop-down-search .dropdown-menu .search {
      padding: 5px; }

.storage-browse h2 {
  text-align: center;
  margin-top: 10px;
  color: #828282; }
  .storage-browse h2 .dropdown {
    cursor: pointer; }
.storage-browse .browse-documents .create {
  margin-bottom: 10px; }
  .storage-browse .browse-documents .create button {
    padding: 8px 30px 8px 30px; }
.storage-browse .browse-documents .documents .panel {
  margin-bottom: 5px; }
  .storage-browse .browse-documents .documents .panel.deleted {
    background-color: #EBCCCC;
    border-color: rgba(255, 0, 0, 0.29); }
  .storage-browse .browse-documents .documents .panel .panel-body {
    padding-bottom: 10px;
    padding-top: 10px; }
    .storage-browse .browse-documents .documents .panel .panel-body .ace_editor {
      height: 250px; }
    .storage-browse .browse-documents .documents .panel .panel-body .edit-document {
      cursor: pointer;
      margin-right: 4px; }
    .storage-browse .browse-documents .documents .panel .panel-body .json-formatter-row:first-child > a:first-child > .thumbnail-text {
      opacity: .5; }
    .storage-browse .browse-documents .documents .panel .panel-body ul span {
      margin-right: 10px; }
.storage-browse .browse-documents .total-documents {
  margin-top: 10px;
  color: #777; }
  .storage-browse .browse-documents .total-documents p {
    text-align: right;
    margin-bottom: 0; }
.storage-browse .browse-documents ul.pagination {
  margin-top: 0; }

.edit-document .view-toggle {
  margin-bottom: 30px; }
.edit-document .form {
  padding-bottom: 20px; }
  .edit-document .form form {
    margin-bottom: 30px; }
    .edit-document .form form fieldset {
      border-radius: 4px; }
      .edit-document .form form fieldset div {
        padding: 0 20px 0 20px; }
    .edit-document .form form .map {
      margin-top: 10px; }
      .edit-document .form form .map .leaflet-control-container {
        height: 400px; }
        .edit-document .form form .map .leaflet-control-container .leaflet-bar {
          box-shadow: none; }
.edit-document .ace_editor {
  height: 600px;
  margin-bottom: 20px; }
.edit-document .go-document {
  cursor: pointer; }
