<div class="view-fade container login-area">
  <div class="row">
    <div class="col-xs-4 col-xs-push-4">
      <div class="login-container">
        <img src="images/logo/kuzzle.svg" class="img-responsive" />
        <div class="login-form-container">
          {{>loginForm}}
        </div>
      </div>
    </div>
  </div>
</div>
