<div class="view-fade container login-page">
  <div class="row">
    <div class="col-xs-4 col-xs-push-4">
      <img src="https://raw.githubusercontent.com/kuzzleio/kuzzle/master/docs/images/logo.png" class="img-responsive" />
      <div class="login-container">
        {{>loginForm}}
      </div>
    </div>
  </div>
</div>
