<div class="role-browse" ng-controller="RoleBrowseCtrl" ng-init="init()">
    <headline title="Roles" subtitle="Browse roles"></headline>
    <div class="container">
        <div class="row whitespace-top">
            <div class="col-sm-12">
                <div class="row create">
                    <button type="button" class="btn btn-success"  ui-sref="role.create">Add role</button>
                </div>

                <documents-inline documents="roles" role="true" can-edit="true"></documents-inline>
            </div>

            <div class="col-sm-9" ng-if="roles.length === 0">
                <p>There is no role in this database.</p>
            </div>
        </div>
    </div>
</div>