<div class="row edit-collection" ng-controller="RoleFullCtrl" ng-init="init('{{action}}')">
    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Role <small>{{action}}</small>
        </h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1 role-not-found" ng-if="notFoundError">
        <p>There is no role matching the name <strong ng-bind="role.id">null</strong>.</p>
    </div>

    <div class="col-sm-10 col-sm-offset-1" ng-if="!notFoundError">

        <form>
            <div class="form-group">
                <label for="role-id">Role name</label>
                <input type="text" class="form-control" ng-model="role.id" id="role-id" ng-disabled="isEdit">
            </div>
            <div class="form-group">
                <label for="name">Role content</label>
                <json-edit content="role.content" can-edit="canCreateOrReplaceRole || canUpdateRole"></json-edit>
            </div>

            <div class="actions-group">
                <button id="create" type="submit" class="btn btn-success control" ng-if="!isEdit && canCreateOrReplaceRole" ng-click="create()">Create</button>
                <button id="update" type="submit" class="btn btn-success control" ng-if="isEdit && canUpdateRole" ng-click="update()">Update</button>
                <button id="replace" type="submit" class="btn btn-warning control" ng-if="isEdit && canCreateOrReplaceRole" ng-click="replace()">Replace</button>
                <a class="control" ng-click="cancel()">Cancel</a>
            </div>
        </form>

    </div>
</div>
