.stepper .step:hover {
  background: #F6F6F6;
}

.stepper .step {
  .circle {
    background: #9e9e9e;
    width: 45px;
    height: 45px;
    line-height: 44px;
    border-radius: 23px;
    position: relative;
    color: white;
    text-align: center;
    font-size: 1.2em;
  }
  p {
    margin-top: 0;
    text-align: center;
  }
}

/** Horizontal **/

.stepper.horizontal .line {
  border-top: 1px solid gainsboro;
  margin-top: 25px;
  margin-left: 2px;
}

.stepper .active .circle {
  background-color: #4285f4;
}