.document-create-update {
  form.wrapper {
    padding-top: 0;
  }

  .json-view {
    .card-content {
      padding-top: 0;
    }
    .document-json {
      .pre_ace, .ace_editor {
        height: 500px;
      }

      .field-json {
        .pre_ace, .ace_editor {
          height: 100px;
        }
      }
    }
  }
}