@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');

.code {
  font-family: 'Cousine', monospace;
}

.code {
  font-family: 'AnonymousPro', sans-serif;
}

.code {
  font-family: 'AnonymousPro', sans-serif;
}
