main {
  padding-left: 240px;

  .view {
    h1 {
      margin-top: 0;
      font-size: 3rem;
    }
  }
}

.wrapper {
  padding: 20px;
}

/* remove yellow effect on chrome when autofill inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

.list-document {
  .no-document {
    text-align: center;
  }
  .collection {
    overflow: inherit;

    .collection-item {
      label {
        color: black;
        line-height: 21px;
      }
      .additional-attribute {
        color: grey;
        font-style: italic;
      }
      .actions {
        margin-top: 1px;
        font-size: 1.3em;

        .action {
          cursor: pointer;
          padding: 0 5px 0 5px;
          margin-left: 5px;
        }
      }
    }
  }
}

html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  background-color: #F8F8F8;
  color: #333;
}

#toast-container {
  .toast {
    &.error {
      color: #fff;
      background-color: $error-color;
    }
  }
}

.side-nav {
  top: $navbar-height - 10;
  height: 95%;
}
@media #{$medium-and-up} {
  .side-nav {
    top: $navbar-height;
  }
}

@media #{$medium-and-down} {
  .side-nav.fixed {
    transform: translateX(0);
  }
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

nav .input-field label i {
  color: #000000;
}

.subnav {
  background-color: #ffffff;
}

.subnav ul a {
  color: #000000
}

.error {
  color: $error-color;
  font-weight: bold;
}