main {
  padding-left: 240px;

  .view {
    h1 {
      margin-top: 0;
      font-size: 3rem;
    }
  }

  .wrapper {
    padding-left: 20px;
    padding-top: 20px;

  }
}

html{
  font-family: "Raleway", sans-serif;
  font-weight: normal;
}

#toast-container {
  .toast {
    &.error {
      color: #fff;
      background-color: $error-color;
    }
  }
}

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
  &:hover, &:focus {
    background-color: lighten($secondary-color, 5%);
  }
}

.tertiary {
  background-color: $tertiary-color;
  &:hover, &:focus {
    background-color: lighten($tertiary-color, 5%);
  }
}

.side-nav {
  top: $navbar-height;
  height: 95%;
}

@media #{$medium-and-down} {
  .side-nav.fixed {
    transform: translateX(0);
  }
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field {
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

nav .input-field label i {
  color: #000000;
}

.subnav {
  background-color: #ffffff;
}

.subnav ul a {
  color: #000000
}

.error {
  color: $error-color;
  font-weight: bold;
}