main {
  padding-left: 240px;

  .wrapper {
    padding-left: 20px;
    padding-top: 20px;

    h1 {
      margin-top: 0;
      font-size: 3rem;
    }
  }
}

.collection {
  overflow: inherit;

  .actions {
    margin-top: 1px;
    font-size: 1.3em;

    .action {
      cursor: pointer;
      padding: 0 5px 0 5px;
      margin-left: 5px;
    }
  }
}

.side-nav {
  top: $navbar-height;
  overflow: hidden;
}

@media #{$medium-and-down} {
  .side-nav.fixed {
    transform: translateX(0);
  }
}