.collection-wrapper {
  min-height: 453px;

  .collection {
    overflow: inherit;

    .collection-item {
      label {
        color: black;
        line-height: 21px;
      }
      .additional-attribute {
        color: grey;
        font-style: italic;
      }
      .actions {
        margin-top: 1px;
        font-size: 1em;

        .action {
          cursor: pointer;
          padding: 0 5px 0 5px;
          margin-left: 5px;
        }
      }
    }
  }
}

.item-document {
  &.collapsed i.item-toggle {
    transform: rotate(-90deg);
  }

  i.item-toggle {
    padding: 0 10px;
    margin-left: -10px;
    cursor: pointer;
    transition-duration: 0.2s;
  }

  /* HACK enabling to click on the title without checking the checkbox */
  label.item-title {
    cursor: pointer;
    font-size: 1rem;
  }

  .item-title a {
    color: #272727;
  }

  /* HACK for centring the checkbox between the caret and the title */
  [type='checkbox'] + label {
    height: 15px;
    padding-left: 30px;
  }

  .item-content {
    transition-duration: 0.2s;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 10px 0 0;
  }

  &.collapsed .item-content {
    max-height: 0;
    transition-duration: 0;
    padding: 0 10px 0 0;
  }

  .item-content pre {
    margin: 0;
    width: 70%;
    display: inline-block;
  }

  .item-content .profile-list {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: right;
  }

  .profile-chip {
    margin: 0 0 0 5px;
    max-width: 150px;
  }

  .show-all-profiles {
    background-color: transparent;
  }
}
