.roles {
  .search-filter {
    .search-bar {
      border: none;
      height: auto;

      i.search {
        margin-left: 10px;
      }
      .multiselect__select {
        display: none;
      }
      input:focus {
        border: none;
        box-shadow: none;
      }
      .multiselect__tags {
        background: none;
        padding-top: 0;
        padding-left: 40px;

        .multiselect__tag {
          margin-top: 13px;
          background-color: #3498db;
        }
      }
      input {
        width: auto;
        padding: 0;
        border: none;
      }
      ul.multiselect__content {
        z-index: 99;
        li.multiselect__element {
          z-index: 99;
        }
      }
    }
  }
}