/* 1. Colors
   ========================================================================== */

$primary-color: #002835;
$secondary-color: #3498db;
$tertiary-color: #efc94c;
$blue-color: #3498db;
$red-color: #E94E77;
$green-color: #9DE0AD;
$skin-color: #E08E79;
$lavandia-color: #73626E;
$disabled-color: #9f9f9f;

$link-color: $primary-color;
$tabs-text-color: $primary-color;
$dropdown-color: $primary-color;

/* 3. Buttons
   ========================================================================== */

$button-padding: 0 1rem !default;

/* 9. Fonts
   ========================================================================== */

$body-font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif;
$header-font-family: 'Gobold', sans-serif;
$button-font-family: 'Gobold', sans-serif;
$roboto-font-path: '../../static/fonts/roboto/' !default;
$gobold-font-path: '../../static/fonts/gobold/' !default;
$anonymous-pro-font-path: '../../static/fonts/anonymous-pro/' !default;

/* 10. Forms
   ========================================================================== */

$input-focus-color: $lavandia-color;
$input-success-color: $secondary-color;

/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 1201px;
$medium-screen-up: 1760px;
$large-screen-up: 2000px;
$small-screen: 1000px;
$medium-screen: 1400px;
$large-screen: 1761px;

/* 13. Navigation Bar
   ========================================================================== */

$navbar-height: 50px;
$navbar-height-mobile: 40px;
