/* 1. Colors
   ========================================================================== */

$primary-color: #00757F;
$secondary-color: #45b29d;
$tertiary-color: #efc94c;
$red-color: #d54f58;
$disabled-color: #9f9f9f;

$link-color: $primary-color;
$tabs-text-color: $primary-color;
$dropdown-color: $primary-color;

/* 3. Buttons
   ========================================================================== */
$button-padding: 0 1rem !default;

/* 9. Fonts
   ========================================================================== */

$roboto-font-path: '../../static/fonts/roboto/' !default;


/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 1201px;
$medium-screen-up: 1760px;
$large-screen-up: 2000px;
$small-screen: 1000px;
$medium-screen: 1400px;
$large-screen: 1761px;

/* 13. Navigation Bar
   ========================================================================== */

$navbar-height: 50px;
$navbar-height-mobile: 40px;
