/* 1. Colors
   ========================================================================== */

$primary-color: #00757F;
$secondary-color: #45b29d;
$tertiary-color: #efc94c;


/* 3. Buttons
   ========================================================================== */
$button-padding: 0 1rem !default;

/* 9. Fonts
   ========================================================================== */

$roboto-font-path: '../../node_modules/materialize-css/fonts/roboto/' !default;

/* 13. Navigation Bar
   ========================================================================== */

$navbar-height: 50px;
$navbar-height-mobile: 40px;