<iframe src="sink.html" name="sink"
        style="display:none"></iframe>
<form name="loginForm"
      action="sink.html" target="sink" method="post"
      ng-controller="LoginController"
      ng-submit="login(credentials)"
      novalidate form-autofill-fix>
  <label for="username">Username:</label>
  <input type="text" id="username"
         ng-model="credentials.username">
  <label for="password">Password:</label>
  <input type="password" id="password"
         ng-model="credentials.password">
  <button type="submit">Login</button>
</form>
