<div class="row storage-browse" ng-controller="StorageBrowseCtrl" ng-init="init()">

    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Storage <small>Browse data</small>
        </h1>
    </div>

    <div class="row" ng-if="stateParams.collection">
        <div class="col-sm-9 col-sm-push-2">
            <h2>
                Collection
                <span ng-bind="stateParams.collection"></span>
                <div class="btn-group">
                    <cog-options-collection
                            collection="stateParams.collection"
                            can-edit="true"
                            after-delete="afterDelete()"
                            after-empty="afterEmpty()">
                    </cog-options-collection>
                </div>
            </h2>
        </div>
    </div>
    <div class="row" ng-if="!stateParams.collection">
        <div class="col-sm-9 col-sm-push-2">
            <h2>
                Select base and collection
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 dropdown-collections">
            <drop-down-search
                    label="collection"
                    selected="stateParams.collection"
                    create-label="New collection"
                    on-click-create="createCollection(collection)"
                    items="collections"
                    current-item="stateParams.collection"
                    on-click-item="onClickCollection(item)"
                    placeholder="Find a collection">
            </drop-down-search>
        </div>

        <div class="col-sm-9" ng-if="stateParams.collection">
            <div ui-view="subView" class="view-fade"></div>
        </div>

        <div class="col-sm-9" ng-if="collections.length === 0">
            <p>There is no collection in this database</p>
        </div>
    </div>

    <div ng-if="!stateParams.collection">
        <div class="col-sm-2">

        </div>
    </div>



</div>