<div class="row" ng-controller="StorageBrowseCtrl" ng-init="init()">

    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Storage <small>Browse data</small>
        </h1>
    </div>


    <div class="row">
        <div class="col-sm-2 collections">
            <drop-down-search
                    label="collection"
                    selected="stateParams.collection"
                    create-label="New collection"
                    on-click-create="createCollection(collection)"
                    items="collections"
                    current-item="stateParams.collection"
                    on-click-item="onClickCollection(item)">
            </drop-down-search>
        </div>

        <div class="col-sm-9" ng-if="collections.length">
            <div ui-view="subView" class="view-fade"></div>
        </div>

        <div class="col-sm-9" ng-if="!collections.length">
            <p>There is no collection in this database</p>
        </div>
    </div>



</div>