<div class="row" ng-controller="StorageBrowseCtrl" ng-init="init()">

    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Storage <small>Browse data</small>
        </h1>
    </div>


    <div class="row">
        <div class="col-sm-2 collections">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    collection: <strong ng-bind="stateParams.collection"></strong> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li ui-sref-active="active" ng-repeat="collection in collections | orderBy">
                        <a
                            ui-sref=".documents({collection: collection, advancedFilter: null, basicFilter: null})"
                            ng-bind="collection">
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-9" ng-if="collections.length">
            <div ui-view="subView" class="view-fade"></div>
        </div>

        <div class="col-sm-9" ng-if="!collections.length">
            <p>There is no collection in this database</p>
        </div>
    </div>



</div>