<div class="browse-documents" ng-controller="StorageBrowseDocumentsCtrl" ng-init="init()">

    <div class="panel panel-default filters">
        <div class="panel-body">
            <uib-tabset>
                <uib-tab heading="Basic filter">
                    <form class="form-horizontal">
                        <div class="form-group" ng-repeat="term in filter.terms" ng-class="{'has-error': term.error}">
                            <div class="col-sm-2">
                                <input
                                        type="text"
                                        ng-model="term.field"
                                        placeholder="Field"
                                        uib-typeahead="field for field in fields | filter:$viewValue"
                                        class="form-control" />
                            </div>
                            <div class="col-sm-2">
                                <select ng-options="item as item.label for item in comparators" class="form-control" ng-model="term.equal">
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" class="form-control" placeholder="Value" ng-model="term.value">
                            </div>
                            <div class="col-sm-1 actions-term">
                                <span ng-if="$last" class="glyphicon glyphicon-plus add-term text-success" aria-hidden="true" ng-click="addTerm()"></span>
                                <span class="glyphicon glyphicon-minus remove-term text-danger" aria-hidden="true" ng-click="removeTerm($index)"></span>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-click="basicSearch()">Submit</button>
                    </div>
                </uib-tab>
                <uib-tab heading="Advanced filter">
                    <form>
                        <div class="form-group">
                            <label for="filter">Filter</label>
                            <p class="text-danger" ng-show="error" ng-bind="error"></p>
                            <json-edit content="filter"></json-edit>

                            <div class="form-group">
                                <button type="submit" class="btn btn-success" ng-click="advancedSearch()">Submit</button>
                                <button class="btn btn-danger" ng-click="resetAdvancedFilter()">Reset</button>
                            </div>
                        </div>
                    </form>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>

    <div class="row documents" ng-repeat="document in documents">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-11">
                        <json-formatter open="0" json="document.body" ng-show="!document.isEdit"></json-formatter>
                        <json-edit content="document" ng-show="document.isEdit"></json-edit>
                    </div>
                    <div class="col-sm-1 pull-right" ng-show="!document.isEdit">
                        <span class="edit-document edit glyphicon glyphicon-pencil" ng-click="editDocument($index)"></span>
                        <span class="edit-document edit glyphicon glyphicon-eye-open" ui-sref="storage-full({collection: collection, id: document._id})"></span>
                    </div>
                    <div class="col-sm-1 pull-right" ng-show="document.isEdit">
                        <span class="edit-document glyphicon glyphicon-ok text-success" ng-click="saveEditDocument($index)"></span>
                        <span class="edit-document glyphicon glyphicon-remove text-danger" ng-click="cancelEditDocument($index)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pull-right">
        <uib-pagination
                total-items="total"
                ng-model="currentPage"
                max-size="5"
                class="pagination-sm"
                boundary-links="true"
                rotate="false"
                ng-change="loadDocuments()"
                num-pages="numPages"
                previous-text="Prev"
                next-text="Next"
                items-per-page="limit"
                ng-model="currentPage"
                ng-show="documents.length > 0">
        </uib-pagination>
    </div>
</div>
