<div class="storage-browse" ng-controller="StorageBrowseCtrl" ng-init="init()">
  <headline title="Storage" subtitle="Browse data"></headline>
  <div class="container">
    <div class="row">
        <div class="col-sm-12">
          <h2 class="select-collection">
              Collection
              <collections-drop-down-search
                  label=""
                  selected-index="stateParams.index"
                  selected="stateParams.collection"
                  create-label="New collection"
                  items="collections"
                  current-item="stateParams.collection"
                  on-click-create="onCreateCollection(collection)"
                  on-click-item="onSelectCollection(item)"
                  placeholder="Find a collection">
              </collections-drop-down-search>

              <div class="btn-group" ng-if="stateParams.collection">
                  <cog-options-collection
                    collection="stateParams.collection"
                    can-edit="true"
                    after-delete="onDeleteCollection()"
                    after-empty="onEmptyCollection()">
                  </cog-options-collection>
              </div>
          </h2>
        </div>
    </div>

    <div class="row" ng-if="stateParams.collection">
        <div class="col-sm-12">
            <div ui-view="subView" class="view-fade"></div>
        </div>

        <div class="col-sm-9" ng-if="collections.length === 0">
            <p>There is no collection in this database</p>
        </div>
    </div>
  </div>
</div>
