<div class="row edit-document" ng-controller="StorageFullCtrl" ng-init="init('{{action}}')">
    <div class="col-sm-12 headline">
        <h1 class="page-header">
            Storage <small>{{action}}</small>
        </h1>
    </div>

    <div class="col-sm-10 col-sm-offset-1" ng-if="notFoundError">
        <p>There is no document matching the id <strong ng-bind="id">null</strong>.</p>
    </div>

    <div class="col-sm-10 col-sm-offset-1" ng-if="!notFoundError">
        <div class="row view-toggle">
            <div class="col-sm-12">
                <div class="btn-group" role="group">
                    <button
                            type="button"
                            class="btn btn-lg btn-default fa fa-file-text-o"
                            ng-class="{active: view === 'form'}"
                            title="Use the form view"
                            ng-click="switchView('form')"></button>
                    <button
                            type="button"
                            class="btn btn-lg btn-default fa fa-file-code-o"
                            ng-class="{active: view === 'json'}"
                            title="Use the JSON view"
                            ng-click="switchView('json')"></button>
                </div>
                <div class="btn-group" role="group">
                    <button
                            type="button"
                            class="btn btn-default"
                            ng-click="openModalAddAttribute()">Add attribute</button>

                    <script type="text/ng-template" id="modalAddAttribute.html">
                        <div class="modal-header">
                            <h3 class="modal-title">Add attribute</h3>
                        </div>
                        <div class="modal-body">
                            <form name="form">
                                <div ng-show="error.addAttribute">
                                    <p class="text-danger">Field name and Attribute type are mandatory.</p>
                                </div>

                                <div class="form-group">
                                    <label>Field name</label>
                                    <input class="form-control" type="text" ng-model="newField.name" required>
                                </div>
                                <div class="form-group">
                                    <label>Attribute type</label>
                                    <select class="form-control" ng-model="newField.type" required>
                                        <option value="string">String</option>
                                        <option value="number">Number</option>
                                        <option value="object">Fieldset</option>
                                        <option value="location">Location</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>After attribute</label>
                                    <select class="form-control" ng-options="attribute as attribute for attribute in listAttributes" ng-model="newField.after">
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <div class="actions-group">
                                <button class="btn btn-default control" type="button" ng-click="addAttribute()">
                                    Add attribute
                                </button>
                                <a class="control" ng-click="cancelModal()">Cancel</a>
                            </div>
                        </div>
                    </script>
                </div>
            </div>
        </div>
        <div class="row edit-id">
            <div class="col-sm-3">
                <div class="form-group">
                    <label>id</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Optional" ng-model="document.id" ng-disabled="isEdit" ng-blur="documentExists()"/>
                        <div class="input-group-addon">
                            <span ng-if="isLoading">
                                <span class="fa fa-spinner fa-spin"></span>
                            </span>
                            <span ng-if="exists && !isEdit">
                                <span
                                        class="go-document glyphicon glyphicon-eye-open"
                                        title="A document with this id already exists. Click here for access to the whole document."
                                        ui-sref="storage.full({collection: collection, id: document.id})">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 form">
                <div ng-if="view === 'form'">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form sf-schema="schema" sf-form="form" sf-model="document.body"></form>
                        </div>
                    </div>
                </div>
                <div ng-if="view === 'json'">
                    <json-edit content="document.json"></json-edit>
                </div>

                <div class="actions-group">
                    <div class="checkbox" ng-if="!exists">
                        <label>
                            <input type="checkbox" ng-model="another"> Create another
                        </label>
                    </div>

                    <button type="submit" class="btn btn-success control" ng-if="exists" ng-click="update()">Update</button>
                    <button type="submit" class="btn btn-success control" ng-if="!exists" ng-click="create()">Create</button>

                    <a href class="control" ng-click="goToList()">List</a>
                </div>
            </div>
        </div>
    </div>
</div>