<div ui-view="mainView" class="view-fade">

  <div class="storage-browse">
    <headline title="Storage" subtitle=""></headline>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/dd/98/a9/dd98a9a89c10a88b9e3dd52cce6f12b2.jpg" class="" style="
      top: 70px;
      position: absolute;
      height: 59px;
      left: 48%;
      right: 52%;
    ">
    <div class="container">
      <div class="row">

      <span class="select-collection-helper" style="
        left: 52%;
        top: 76px;
        padding: 10px;
        opacity: 0.6;
      ">
        You might think that's a button ?
      </span>
      <div class="col-sm-4 col-sm-offset-4 text-center" style="
          margin-top: 200px;
          opacity: 0.4;">
        <h3>No index selected</h3>
      </div>
      </div>
    </div>
  </div>


</div>