<html>
  <head>
    <meta charset="UTF-8">
    <title>Kuzzle BO</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" type="text/css">

    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css">
    <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" type="text/css">

    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <link rel="stylesheet" href="/styles/storage.css" type="text/css">
    <link rel="stylesheet" href="/styles/realtime.css" type="text/css">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css">
    <link rel="stylesheet" href="/styles/notifications.css" type="text/css">
    <link rel="stylesheet" href="/styles/modal.css" type="text/css">
    <link rel="stylesheet" href="/styles/collection.css" type="text/css">
    <link rel="stylesheet" href="/styles/basicFilter.css" type="text/css">
    <link rel="stylesheet" href="/styles/documents-inline.css" type="text/css">
    <link rel="stylesheet" href="/styles/metrics.css" type="text/css">
    <link rel="stylesheet" href="/styles/common.css" type="text/css">
  </head>
  <body ng-app="kuzzle">
      <div ui-view="wrappedView" ng-controller="MainAppController" ng-init="init()"></div>

      <script type="text/ng-template" id="refreshTemplate.html">
          <div class="ui-notification custom-template">
              <div class="message" ng-bind-html="message"></div>
              <div class="message">
                  <a ng-click="refresh()">Click here for refresh</a>
              </div>
              <span class="close glyphicon glyphicon-remove" ng-click="kill(true)"></span>
          </div>
      </script>


      <script type="text/ng-template" id="angular-ui-notification.html">
          <div class="ui-notification">
              <h3 ng-show="title" ng-bind-html="title"></h3>
              <div class="message" ng-bind-html="message"></div>
              <span class="close glyphicon glyphicon-remove" ng-click="kill(true)"></span>
          </div>
      </script>
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>

      <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
      <script type="text/javascript" src="bower_components/json-formatter/dist/json-formatter.min.js"></script>
      <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

      <script type="text/javascript" src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>

      <script type="text/javascript" src="bower_components/ace-builds/src-min/ace.js"></script>
      <script type="text/javascript" src="bower_components/angular-ui-ace/ui-ace.js"></script>
      <script type="text/javascript" src="bower_components/ace-builds/src-min/mode-json.js"></script>
      <script type="text/javascript" src="bower_components/ace-builds/src-min/worker-json.js"></script>

      <script type="text/javascript" src="bower_components/tv4/tv4.js"></script>
      <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script type="text/javascript" src="bower_components/objectpath/lib/ObjectPath.js"></script>
      <script type="text/javascript" src="bower_components/angular-schema-form/dist/schema-form.js"></script>
      <script type="text/javascript" src="bower_components/angular-schema-form-bootstrap/bootstrap-decorator.js"></script>

      <script type="text/javascript" src="bower_components/highcharts/highstock.js"></script>
      <script type="text/javascript" src="bower_components/highcharts/highcharts-more.js"></script>
      <script type="text/javascript" src="bower_components/highcharts/modules/exporting.js"></script>

      <script type="text/javascript" src="/app.bundle.js"></script>

      <!-- DIRECTIVES  (unable to require with webpack due to AHMR) -->
      <script type="text/javascript" src="/javascripts/common/authentication/login.controller.js"></script>
      <script type="text/javascript" src="/javascripts/common/authentication/userRoles.const.js"></script>
      <script type="text/javascript" src="/javascripts/common/authentication/authEvents.const.js"></script>
      <script type="text/javascript" src="/javascripts/common/authentication/userMenu.directive.js"></script>
      <script type="text/javascript" src="/javascripts/common/headline/headline.directive.js"></script>
      <script type="text/javascript" src="/javascripts/indexes/indexesDropDownSearch/indexesDropDownSearch.directive.js"></script>
      <script type="text/javascript" src="/javascripts/indexes/cogOptionsIndexes/cogOptionsIndexes.directive.js"></script>
  </body>
</html>
