<html>
  <head>
    <meta charset="UTF-8">
    <title>Kuzzle BO</title>

    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.min.css" type="text/css">

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">

    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css" type="text/css">

    <link rel="stylesheet" href="bower_components/json-formatter/dist/json-formatter.min.css" type="text/css">
    <link rel="stylesheet" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css" type="text/css">

    <link rel="stylesheet" href="/styles/login.css" type="text/css">
    <link rel="stylesheet" href="/styles/storage.css" type="text/css">
    <link rel="stylesheet" href="/styles/realtime.css" type="text/css">
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css">
    <link rel="stylesheet" href="/styles/notifications.css" type="text/css">
    <link rel="stylesheet" href="/styles/modal.css" type="text/css">
    <link rel="stylesheet" href="/styles/collection.css" type="text/css">
    <link rel="stylesheet" href="/styles/basicFilter.css" type="text/css">
    <link rel="stylesheet" href="/styles/documents-inline.css" type="text/css">
    <link rel="stylesheet" href="/styles/metrics.css" type="text/css">
    <link rel="stylesheet" href="/styles/common.css" type="text/css">
  </head>
  <body ng-app="kuzzle">
      <div ui-view="wrappedView" ng-controller="MainAppController" ng-init="init()"></div>

      <script type="text/ng-template" id="refreshTemplate.html">
          <div class="ui-notification custom-template">
              <div class="message" ng-bind-html="message"></div>
              <div class="message">
                  <a ng-click="refresh()">Click here for refresh</a>
              </div>
              <span class="close glyphicon glyphicon-remove" ng-click="kill(true)"></span>
          </div>
      </script>


      <script type="text/ng-template" id="angular-ui-notification.html">
          <div class="ui-notification">
              <h3 ng-show="title" ng-bind-html="title"></h3>
              <div class="message" ng-bind-html="message"></div>
              <span class="close glyphicon glyphicon-remove" ng-click="kill(true)"></span>
          </div>
      </script>

      <!-- We need to load jQuery and AngularJS the legacy way since they are needed by ace and angular-schema,
      which are loaded legacy. So nineties it's almost cool. -->
      <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

      <!-- These scripts must be loaded via the script tags. Actually, ACE can be required the CommonJS way, but
      the worker would not work (we need to load it with a tag). So, since the worker needs ace to be
      instantiated when it loads, we load all the ACE ecosystem via script tags e buonanotte. -->
      <script type="text/javascript" src="bower_components/ace-builds/src-min/ace.js"></script>
      <script type="text/javascript" src="bower_components/ace-builds/src-min/mode-json.js"></script>
      <script type="text/javascript" src="bower_components/ace-builds/src-min/worker-json.js"></script>

      <!-- angular-schema-form npm distribution is broken. Just loading this the legacy way and wait
      that the issue is fixed -->
      <script type="text/javascript" src="bower_components/objectpath/lib/ObjectPath.js"></script>
      <script type="text/javascript" src="bower_components/angular-schema-form/dist/schema-form.js"></script>
      <script type="text/javascript" src="bower_components/angular-schema-form-bootstrap/bootstrap-decorator.js"></script>

      <script type="text/javascript" src="/app.bundle.js"></script>
  </body>
</html>
