<div class="indexes-browse" ng-controller="IndexesCtrl" ng-init="init()">
  <headline title="Storage" subtitle="Browse indexes"></headline>

  <div class="container container-medium">
    <div class="row whitespace-top">
      <div class="col-sm-12">
          <div class="create" style="margin-bottom: 15px">
            <button type="button" class="btn btn-success"  ui-sref="indexes.create" ng-if="canCreateIndex">
              <i class="fa fa-plus"></i> Add index
            </button>
          </div>

          <div class="row" ng-if="indexData.indexes.length !== 0">
              <div class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-12 index-filter">

                          <div class="panel panel-default">
                              <div class="panel-body">
                                  <div class="form-group">
                                      <label for="filter">Indexes filter</label>
                                      <input
                                          id="filter"
                                          type="text"
                                          ng-model="search"
                                          placeholder="Index name"
                                          uib-typeahead="index for index in indexData.indexes | filter:$viewValue"
                                          typeahead-min-length="0"
                                          class="form-control" />
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-12 list-indexes">
                          <div id="{{index}}" class="panel panel-primary" ng-repeat="index in indexData.indexes | orderBy | filter:search">
                              <div class="panel-heading">
                                  <h3 class="panel-title">
                                      <span class="index-name" ng-bind="index" ng-click="browseCollection(index)" title="Go to full view"></span>

                                      <span class="pull-right">
                                          <span class="glyphicon glyphicon-th-list" ng-click="browseCollection(index)" title="Go to collections list"></span>
                                          <cog-options-indexes
                                              index="index"
                                              can-edit="false"
                                              can-delete="canDeleteIndex(index)"
                                              after-delete="afterDelete(index)">
                                          </cog-options-indexes>
                                      </span>
                                  </h3>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="row">
              <div class="col-sm-12" ng-if="indexData.indexes.length === 0">
                  <p>There is no indexes in this database</p>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
