@use 'variables';

.error {
  color: variables.$error-color;
  font-weight: bold;
}

.empty-set {
  margin: 50px auto;
  justify-content: flex-start;

  &.empty-set-condensed {
    margin: 20px auto;
  }
  p {
    font-size: 1.1rem;
    line-height: 26px;
    font-weight: 300;
  }
  em {
    color: #777;
  }
}

.pointer {
  cursor: pointer;
}

.text-stroked {
  text-decoration: line-through;
}
