<uib-tabset>
    <uib-tab heading="Basic filter" active="searchType.basic">
        <basic-filter
                add-group-label="Add group"
                filters="filters.basicFilter"
                collection="collection"
                filter-in-url="basicFilterUrl"
                comparators="comparators">
        </basic-filter>
    </uib-tab>
    <uib-tab heading="Advanced filter" active="searchType.advanced">
        <form name="filterForms.advancedSearch">
            <div class="form-group">
                <label>Filter</label>&nbsp;-&nbsp;<a ng-href="{{dslDocUrl}}" target="_blank">Check out the DSL documentation</a>
                <button type="button" style="margin-bottom: 5px;" ng-click="fillAdvancedSearchWithBasic()" class="btn btn-primary pull-right">Fill from basic search</button>
                <button type="button" style="margin-bottom: 5px;" ng-click="clearFilters()" class="btn btn-default pull-right">Clear filters</button>
                <div class="clearfix"></div>
                <p class="text-danger" ng-show="error" ng-bind="error"></p>
                <json-edit can-edit="true" content="filters.advancedFilter"></json-edit>
            </div>
        </form>
    </uib-tab>
</uib-tabset>
<div class="form-group">
    <button ng-if="submitLabel" id="submit-filter" type="submit" class="btn btn-default" ng-click="doSearch()" ng-disabled="subscribed">{{submitLabel}}</button>
    <button ng-if="stopLabel" type="submit" class="btn btn-default" ng-click="stopSearch()" ng-disabled="!subscribed">{{stopLabel}}</button>
    <button ng-if="clearLabel" class="btn btn-link" ng-click="reset()">{{clearLabel}}</button>
</div>
