<form class="form-inline">
    <div ng-repeat="(groupIndex, group) in filters">
        <div class="form-group basic-filter" ng-repeat="term in group.and" ng-class="{'has-error': term.error}">
                <input
                        id="filter-field"
                        type="text"
                        ng-model="term.field"
                        placeholder="Field"
                        uib-typeahead="field for field in fields | filter:$viewValue"
                        typeahead-min-length="0"
                        class="form-control" />
                <select ng-options="item as item.label for item in comparators" class="form-control" ng-model="term.equal">
                </select>
                <input id="filter-value" type="text" class="form-control" placeholder="Value" ng-model="term.value">
                <button class="btn btn-default" ng-if="$last" aria-hidden="true" ng-click="addAndTerm(groupIndex)">And</button>
              <span class="glyphicon glyphicon-remove remove-term text-danger" aria-hidden="true" ng-click="removeTerm(groupIndex, $index)"></span>
        </div>

        <p class="or-label">or</p>
    </div>
    <button class="btn btn-default add-group" ng-click="addOr()">{{ addGroupLabel }}</button>
</form>
